Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

ci: add AgentOS CI workflow, update npm install to @framers/agentos
  .github/workflows/agentos-ci.yml
  .github/workflows/publish-agentos.yml
  db_data/app.sqlite3
  frontend/src/styles/utilities/_mobile-responsive.scss
Due: secretlint --maskSecrets

ci: add semantic-release, commitlint, docs workflow
  .github/workflows/commitlint.yml
  .github/workflows/docs.yml
  .github/workflows/publish-agentos.yml
  commitlint.config.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

ci: add ESLint, Prettier, commitlint with pre-commit hooks
  .eslintrc.json
  .github/workflows/agentos-ci.yml
  .github/workflows/lint.yml
  .husky/commit-msg
  .prettierignore
  .prettierrc
  package.json
Due: prettier --write, secretlint --maskSecrets

ci: ESLint, Prettier, commitlint hooks; fix agentos CI
  .github/workflows/publish-agentos.yml
Due: secretlint --maskSecrets

fix: SVG backgrounds, header perf, manual releases
  .github/workflows/publish-agentos.yml
  docs/RELEASING.md
Due: prettier --write, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
