Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update frame.dev submodule - 3-tier pricing and domain analytics
  docs/PLANS_AND_BILLING.md
Due: prettier --write, secretlint --maskSecrets

chore: add quarry-plugins as submodule
  .gitmodules
Due: secretlint --maskSecrets

chore: update submodules, remove electron, add Linode deployment config
  .env.supabase-stripe.example
  deployment/nginx-quarry.conf
  electron/electron-builder.yml
  electron/entitlements.mac.plist
  electron/package.json
  electron/scripts/notarize.js
  electron/scripts/rebuild-native.js
  electron/src/main/auto-updater.ts
  electron/src/main/backend-bridge.ts
  electron/src/main/index.ts
  electron/src/main/ipc-handlers.ts
  electron/src/preload/index.ts
  electron/tsconfig.json
  package.json
  packages/codex-viewer/package.json
  pnpm-workspace.yaml
  scripts/setup-quarry-linode.sh
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update frame.dev submodule - editor UX improvements
  .gitignore
  .super-cloud/super-cloud.pid
  deployment/quarry/.env.example
  deployment/quarry/README.md
  deployment/quarry/docker-compose.yml
  deployment/quarry/init.sql
Due: prettier --write, secretlint --maskSecrets

feat: add auth database schema and update frame.dev submodule
  deployment/quarry/init.sql
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
