Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove duplicate getting-started.md causing route conflict
  docs/architecture/system-architecture.md
  docs/getting-started/ecosystem.md
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

fix: monochromatic badges with consistent height and flat-square style
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: styled hero badges — for-the-badge, brand colors, hover shadow, uniform 28px height
  src/css/custom.css
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: comprehensive mobile responsive — breakpoints at 768/480px, code overflow, table scroll, grid min()
  src/css/custom.css
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: hamburger drawer links visible + prevent horizontal scroll on mobile
  src/css/custom.css
Due: secretlint --maskSecrets

fix: footer copyright — Manic Agency LLC + manic.agency link
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: getting-started page now shows sidebar via category link
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: comprehensive architecture diagram with click-to-zoom modal
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: global click-to-zoom modal for all mermaid diagrams across docs
  docusaurus.config.ts
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: mermaid diagram viewer with zoom controls, pan, keyboard shortcuts
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove inline modal from architecture diagram — global mermaid-zoom handles it
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: solid mobile sidebar backdrop + body scroll lock to hide page content behind drawer
  src/css/custom.css
Due: secretlint --maskSecrets

fix: prevent horizontal scroll on mobile — overflow-x hidden on html/body, constrain all content to 100vw
  src/css/custom.css
Due: secretlint --maskSecrets

fix: mobile navbar GitHub link — icon only on small screens, no text overlap
  src/css/custom.css
Due: secretlint --maskSecrets

fix: mobile navbar — prevent search/GitHub overlap, hide Website link, constrain widths
  src/css/custom.css
Due: secretlint --maskSecrets

fix: hide all right-side navbar links on mobile, fix sidebar brand overflow
  src/css/custom.css
Due: secretlint --maskSecrets

fix: nuke GitHub icon from sidebar with position absolute offscreen + 7 fallback selectors
  src/css/custom.css
Due: secretlint --maskSecrets

fix: mobile sidebar full-width 100vw — no page content visible behind drawer
  src/css/custom.css
Due: secretlint --maskSecrets

fix: replace all 100vw with 100% to prevent horizontal scroll (vw includes scrollbar width)
  src/css/custom.css
Due: secretlint --maskSecrets

fix: remove nuclear * max-width rule that broke sidebar, target content containers only
  src/css/custom.css
Due: secretlint --maskSecrets

fix: revert all aggressive sidebar CSS overrides — let Docusaurus handle layout
  src/css/custom.css
Due: secretlint --maskSecrets

fix: restore sidebar z-index, background, and body scroll lock
  src/css/custom.css
Due: secretlint --maskSecrets

fix: hide search bar inside mobile sidebar — it was overflowing on the right
  src/css/custom.css
Due: secretlint --maskSecrets

fix: hide search bar on mobile entirely — it overflows the navbar regardless of sidebar state
  src/css/custom.css
Due: secretlint --maskSecrets

fix: stop overflow-x hidden on .container/.col — it was clipping the mobile sidebar content
  src/css/custom.css
Due: secretlint --maskSecrets

fix: force mobile sidebar to position fixed full-screen overlay at z-index 9999
  src/css/custom.css
Due: secretlint --maskSecrets

fix: strip ALL sidebar layout overrides — keep only color styling, let Docusaurus handle everything else
  src/css/custom.css
Due: secretlint --maskSecrets

fix: remove overflow-x hidden from html/body — it clips the sidebar transform slide-in
  src/css/custom.css
Due: secretlint --maskSecrets

fix: sidebar full-width via --ifm-navbar-sidebar-width: 100vw + opaque backdrop
  src/css/custom.css
Due: secretlint --maskSecrets

fix: show GitHub icon + theme toggle on mobile navbar, hide only text links
  src/css/custom.css
Due: secretlint --maskSecrets

docs: add citation-verifier extension guide
  docs/extensions/built-in/citation-verifier.md
Due: prettier --write, secretlint --maskSecrets

fix: remove ALL sidebar CSS overrides — let Docusaurus handle everything, keep only toggle color
  src/css/custom.css
Due: secretlint --maskSecrets

docs: full citation verification feature guide with API, config, and examples
  docs/features/citation-verification.md
Due: prettier --write, secretlint --maskSecrets

fix: add backdrop overlay + full-width on phones + click-backdrop-to-close
  src/theme/Navbar/MobileSidebar/index.tsx
  src/theme/Navbar/MobileSidebar/styles.module.css
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: move hamburger icon to right side of navbar on mobile
  src/css/custom.css
Due: secretlint --maskSecrets

fix: opaque drawer background + content area inherits bg
  src/theme/Navbar/MobileSidebar/styles.module.css
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
