Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

fix(rabbithole): replace hardcoded colors with CSS variables across pages
  apps/rabbithole/src/app/about/page.tsx
  apps/rabbithole/src/app/faq/page.tsx
  apps/rabbithole/src/app/login/page.tsx
  apps/rabbithole/src/app/wunderland/agents/[seedId]/page.tsx
  apps/rabbithole/src/app/wunderland/agents/page.tsx
  apps/rabbithole/src/app/wunderland/governance/page.tsx
  apps/rabbithole/src/app/wunderland/layout.tsx
  apps/rabbithole/src/app/wunderland/register/page.tsx
  apps/rabbithole/src/app/wunderland/tips/page.tsx
  apps/rabbithole/src/app/wunderland/world-feed/page.tsx
  apps/rabbithole/src/components/wunderland/WunderlandNav.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(rabbithole): add Enterprise pricing tier with gold gradient styling
  apps/rabbithole/src/app/pricing/page.tsx
  apps/rabbithole/src/components/PricingCard.tsx
  apps/rabbithole/src/components/PricingSection.tsx
  apps/rabbithole/src/config/pricing.ts
  apps/rabbithole/src/styles/landing.scss
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(rabbithole): add Resend email service, contact page, and waitlist
  apps/rabbithole/src/app/api/contact/route.ts
  apps/rabbithole/src/app/api/email/welcome/route.ts
  apps/rabbithole/src/app/contact/page.tsx
  apps/rabbithole/src/app/page.tsx
  apps/rabbithole/src/lib/email.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: add eslint flat config for pre-commit hooks
  eslint.config.mjs
Due: secretlint --maskSecrets

fix(rabbithole): fix Stripe type errors in webhook and sync routes
  apps/rabbithole/src/app/api/stripe/sync/route.ts
  apps/rabbithole/src/app/api/stripe/webhook/route.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(evals): candidates-as-hub architecture, grader auto-select, expandable experiments
  packages/fullstack-evals-harness-example/API.md
  packages/fullstack-evals-harness-example/README.md
  packages/fullstack-evals-harness-example/backend/src/app.module.ts
  packages/fullstack-evals-harness-example/backend/src/main.ts
  packages/fullstack-evals-harness-example/frontend/src/app/about/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/experiments/page.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(channels): add extensions registry bundle and 5 P0 channel extensions
  packages/agentos-extensions-registry/README.md
  packages/agentos-extensions-registry/package.json
  packages/agentos-extensions-registry/src/channel-registry.ts
  packages/agentos-extensions-registry/src/index.ts
  packages/agentos-extensions-registry/src/manifest-builder.ts
  packages/agentos-extensions-registry/src/types.ts
  packages/agentos-extensions-registry/test/manifest-builder.spec.ts
  packages/agentos-extensions-registry/tsconfig.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(extensions): backend channels module, DB tables, and gateway events
  backend/package.json
  backend/src/__tests__/channels.module.test.ts
  backend/src/core/database/appDatabase.ts
  backend/src/integrations/agentos/agentos.integration.ts
  backend/src/modules/wunderland/channels/channel-bridge.service.ts
  backend/src/modules/wunderland/channels/channels.controller.ts
  backend/src/modules/wunderland/channels/channels.module.ts
  backend/src/modules/wunderland/channels/channels.service.ts
  backend/src/modules/wunderland/dto/channels.dto.ts
  backend/src/modules/wunderland/dto/index.ts
  backend/src/modules/wunderland/wunderland.gateway.ts
  backend/src/modules/wunderland/wunderland.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add channels API routes, architecture, and integration audit
  docs/BACKEND_API.md
  docs/NESTJS_ARCHITECTURE.md
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
Due: prettier --write, secretlint --maskSecrets

feat(agentos): add credentials, runtime, and wunderland-sol modules
  backend/src/modules/wunderland/credentials/credentials.controller.ts
  backend/src/modules/wunderland/credentials/credentials.module.ts
  backend/src/modules/wunderland/credentials/credentials.service.ts
  backend/src/modules/wunderland/dto/credentials.dto.ts
  backend/src/modules/wunderland/dto/runtime.dto.ts
  backend/src/modules/wunderland/runtime/runtime.controller.ts
  backend/src/modules/wunderland/runtime/runtime.module.ts
  backend/src/modules/wunderland/runtime/runtime.service.ts
  backend/src/modules/wunderland/wunderland-sol/wunderland-sol-tips-worker.service.ts
  backend/src/modules/wunderland/wunderland-sol/wunderland-sol.module.ts
  backend/src/modules/wunderland/wunderland-sol/wunderland-sol.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(agentos): enhance auth, billing, approval queue, and health checks
  backend/.env.example
  backend/README.MD
  backend/db_data/app.sqlite3
  backend/src/__tests__/extensions.service.test.ts
  backend/src/__tests__/tip-snapshot.service.test.ts
  backend/src/__tests__/wunderland.module.test.ts
  backend/src/features/auth/auth.routes.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/auth/user.repository.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/billing/billing.controller.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.controller.ts
  backend/src/modules/wunderland/approval-queue/approval-queue.module.ts
  backend/src/modules/wunderland/approval-queue/approval-queue.service.ts
  backend/src/modules/wunderland/dto/tips.dto.ts
  backend/src/modules/wunderland/social-feed/social-feed.service.ts
  backend/src/modules/wunderland/stimulus/stimulus.controller.ts
  backend/src/modules/wunderland/stimulus/stimulus.module.ts
  backend/src/modules/wunderland/wunderland-health.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(workbench): redesign landing page, update docs and billing flow
  apps/rabbithole/.env.example
  apps/rabbithole/BILLING.md
  apps/rabbithole/README.md
  apps/rabbithole/src/app/about/page.tsx
  apps/rabbithole/src/app/api/stripe/checkout/route.ts
  apps/rabbithole/src/app/checkout/success/page.tsx
  apps/rabbithole/src/app/faq/page.tsx
  apps/rabbithole/src/app/login/page.tsx
  apps/rabbithole/src/app/page.tsx
  apps/rabbithole/src/app/pricing/page.tsx
  apps/rabbithole/src/app/signup/page.tsx
  apps/rabbithole/src/app/wunderland/docs/page.tsx
  apps/rabbithole/src/app/wunderland/layout.tsx
  apps/rabbithole/src/components/Paywall.tsx
  apps/rabbithole/src/config/pricing.ts
  apps/rabbithole/src/lib/email.ts
  apps/rabbithole/src/styles/landing.scss
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(ci): add deployment configs, CI workflows, and scripts
  .dockerignore
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
  PRODUCTION_SETUP.md
  deployment/rabbithole/.env.example
  deployment/rabbithole/Dockerfile.backend
  deployment/rabbithole/Dockerfile.frontend
  deployment/rabbithole/docker-compose.yml
  deployment/rabbithole/nginx.conf
  deployment/wunderland-node/Dockerfile.backend
  deployment/wunderland-node/GITHUB_ACTIONS_DEPLOY.md
  deployment/wunderland-node/README.md
  deployment/wunderland-node/docker-compose.yml
  deployment/wunderland-sol/.env.example
  deployment/wunderland-sol/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.frontend
  deployment/wunderland-sol/docker-compose.yml
  deployment/wunderland-sol/nginx.conf
  docs/WUNDERLAND_IPFS_NODE_SETUP.md
  scripts/deploy-env.sh
Due: prettier --write, secretlint --maskSecrets

chore(deps): update submodules, dependencies, and misc configs
  .env.supabase-stripe.example
  decentralization.md
  package.json
  packages/rabbithole/package.json
  packages/shared/src/planCatalog.ts
  pnpm-lock.yaml
  scripts/generate-stripe-product-images.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore(codex): update evals harness env examples and app module
  packages/fullstack-evals-harness-example/.env.example
  packages/fullstack-evals-harness-example/backend/.env.example
  packages/fullstack-evals-harness-example/backend/src/app.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: fix promptfoo grader, synthetic datasets, text rewriter graders
  docs/EVALS_HARNESS_LOOM_DEMO.md
  packages/fullstack-evals-harness-example/README.md
  packages/fullstack-evals-harness-example/backend/datasets/context-qa.meta.json
  packages/fullstack-evals-harness-example/backend/datasets/context-qa/data.csv
  packages/fullstack-evals-harness-example/backend/datasets/context-qa/meta.yaml
  packages/fullstack-evals-harness-example/backend/datasets/research-paper-extraction.meta.json
  packages/fullstack-evals-harness-example/backend/datasets/research-paper-extraction/data.csv
  packages/fullstack-evals-harness-example/backend/datasets/research-paper-extraction/meta.yaml
  packages/fullstack-evals-harness-example/backend/datasets/summarization.meta.json
  packages/fullstack-evals-harness-example/backend/datasets/summarization/data.csv
  packages/fullstack-evals-harness-example/backend/datasets/summarization/meta.yaml
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting-research.meta.json
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting-research/data.csv
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting-research/meta.yaml
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting.meta.json
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting/data.csv
  packages/fullstack-evals-harness-example/backend/datasets/text-rewriting/meta.yaml
  packages/fullstack-evals-harness-example/backend/prompts/text-rewriter/base.md
  packages/fullstack-evals-harness-example/backend/prompts/text-rewriter/casual.md
  packages/fullstack-evals-harness-example/backend/prompts/text-rewriter/formal.md
  packages/fullstack-evals-harness-example/backend/src/database/adapters/sqlite.adapter.ts
  packages/fullstack-evals-harness-example/backend/src/database/interfaces/db-adapter.interface.ts
  packages/fullstack-evals-harness-example/backend/src/database/schema.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/dataset-loader.service.spec.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/dataset-loader.service.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/datasets.service.ts
  packages/fullstack-evals-harness-example/backend/src/eval-engine/promptfoo.grader.ts
  packages/fullstack-evals-harness-example/backend/src/experiments/experiments.controller.ts
  packages/fullstack-evals-harness-example/backend/src/experiments/experiments.service.ts
  packages/fullstack-evals-harness-example/backend/src/presets/presets.controller.ts
  packages/fullstack-evals-harness-example/backend/src/presets/presets.module.ts
  packages/fullstack-evals-harness-example/frontend/src/app/about/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/candidates/[id]/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/datasets/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/experiments/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/lib/api.ts
  packages/fullstack-evals-harness-example/frontend/src/lib/types.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add bad-example adversarial prompt as negative control
  docs/EVALS_HARNESS_LOOM_DEMO.md
  packages/fullstack-evals-harness-example/backend/prompts/summarizer/bad-example.md
  packages/fullstack-evals-harness-example/frontend/src/app/about/page.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove hardcoded variant counts from about page
  packages/fullstack-evals-harness-example/frontend/src/app/about/page.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(backend): agent immutability enforcement + ownership tests
  backend/package.json
  backend/src/__tests__/agent-immutability.test.ts
  backend/src/__tests__/channel-ownership.test.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/wunderland.exceptions.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(rabbithole): channels dashboard + immutability UI
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/channels/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/page.tsx
  apps/rabbithole/src/app/wunderland/layout.tsx
  apps/rabbithole/src/app/wunderland/register/page.tsx
  apps/rabbithole/src/lib/wunderland-api.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(rabbithole): Stripe billing, pricing page, auth improvements
  apps/rabbithole/BILLING.md
  apps/rabbithole/README.md
  apps/rabbithole/src/app/api/stripe/checkout/route.ts
  apps/rabbithole/src/app/api/stripe/sync/route.ts
  apps/rabbithole/src/app/api/stripe/webhook/route.ts
  apps/rabbithole/src/app/checkout/success/page.tsx
  apps/rabbithole/src/app/faq/page.tsx
  apps/rabbithole/src/app/login/page.tsx
  apps/rabbithole/src/app/page.tsx
  apps/rabbithole/src/app/pricing/page.tsx
  apps/rabbithole/src/app/signup/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/credentials/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/self-hosted/page.tsx
  apps/rabbithole/src/app/wunderland/docs/page.tsx
  apps/rabbithole/src/components/Paywall.tsx
  apps/rabbithole/src/config/pricing.ts
  apps/rabbithole/src/lib/email.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(evals): consolidate prompts, expand datasets, improve candidate UI
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
  deployment/deploy-env.sh
  deployment/wunderland-sol/Dockerfile.frontend
  deployment/wunderland-sol/nginx.conf
  packages/fullstack-evals-harness-example/README.md
  packages/fullstack-evals-harness-example/backend/graders/semantic-similarity.yaml
  packages/fullstack-evals-harness-example/backend/package-lock.json
  packages/fullstack-evals-harness-example/backend/package.json
  packages/fullstack-evals-harness-example/backend/prompts/json-extractor/base.md
  packages/fullstack-evals-harness-example/backend/prompts/json-extractor/loose.md
  packages/fullstack-evals-harness-example/backend/prompts/qa-assistant/base.md
  packages/fullstack-evals-harness-example/backend/src/candidates/prompt-variant-generator.service.ts
  packages/fullstack-evals-harness-example/backend/src/candidates/prompts.controller.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/dataset-loader.service.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/datasets.controller.ts
  packages/fullstack-evals-harness-example/backend/src/datasets/datasets.service.ts
  packages/fullstack-evals-harness-example/backend/src/presets/presets.ts
  packages/fullstack-evals-harness-example/frontend/package-lock.json
  packages/fullstack-evals-harness-example/frontend/src/app/about/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/candidates/[id]/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/candidates/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/datasets/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/experiments/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/app/graders/page.tsx
  packages/fullstack-evals-harness-example/frontend/src/lib/api.ts
  packages/fullstack-evals-harness-example/package-lock.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore(docs,ci): update integration audit, deploy configs, lockfile
  docs/EVALS_HARNESS_LOOM_DEMO.md
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
  pnpm-lock.yaml
Due: prettier --write, secretlint --maskSecrets

chore: remove stale evals files, update wunderland pointer
  packages/fullstack-evals-harness-example/ARCHITECTURE.md
  packages/fullstack-evals-harness-example/backend/graders/extraction-schema.yaml
Due: prettier --write, secretlint --maskSecrets

fix(ci): use GH_PAT for private submodule cloning
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

fix(ci): handle dirty submodules + redesign wunderland About page
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

fix(rabbithole): add git to Docker build for pnpm git deps
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix(ci): add git to backend Dockerfiles for pnpm git deps
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix(ci): force-deinit submodules before update for clean checkout
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

fix(ci): clean stale dist + no-cache Docker builds
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: add @framers/agentos as devDep of extensions-registry
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
  packages/agentos-extensions-registry/package.json
  pnpm-lock.yaml
Due: prettier --write, secretlint --maskSecrets

fix: UI polish — contrast, sidebar redesign, FOUC prevention, CTA enhancements
  apps/rabbithole/src/app/about/page.tsx
  apps/rabbithole/src/app/layout.tsx
  apps/rabbithole/src/app/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/credentials/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/email/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/page.tsx
  apps/rabbithole/src/app/wunderland/dashboard/[seedId]/self-hosted/page.tsx
  apps/rabbithole/src/app/wunderland/docs/page.tsx
  apps/rabbithole/src/app/wunderland/layout.tsx
  apps/rabbithole/src/lib/wunderland-api.ts
  apps/rabbithole/src/styles/landing.scss
  apps/rabbithole/src/styles/main.scss
  apps/rabbithole/src/styles/wunderland.scss
  backend/package.json
  backend/src/__tests__/wunderland.module.test.ts
  backend/src/modules/wunderland/credentials/credentials.service.ts
  backend/src/modules/wunderland/email/email.controller.ts
  backend/src/modules/wunderland/email/email.module.ts
  backend/src/modules/wunderland/email/email.service.ts
  backend/src/modules/wunderland/email/smtp-client.ts
  backend/src/modules/wunderland/wunderland.module.ts
  backend/src/modules/wunderland/wunderland.types.ts
  docs/BACKEND_API.md
  docs/NESTJS_ARCHITECTURE.md
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: publish extensions-registry and extensions catalog to npm
  packages/agentos-extensions-registry/package.json
Due: prettier --write, secretlint --maskSecrets

refactor(rabbithole): move wunderland routes to /app, UI updates
  .npmrc
  apps/rabbithole/src/app/admin/page.tsx
  apps/rabbithole/src/app/admin/queue/page.tsx
  apps/rabbithole/src/app/api/stripe/portal/route.ts
  apps/rabbithole/src/app/app/agents/[seedId]/page.tsx
  apps/rabbithole/src/app/app/agents/page.tsx
  apps/rabbithole/src/app/app/dashboard/[seedId]/channels/page.tsx
  apps/rabbithole/src/app/app/dashboard/[seedId]/credentials/page.tsx
  apps/rabbithole/src/app/app/dashboard/[seedId]/email/page.tsx
  apps/rabbithole/src/app/app/dashboard/[seedId]/page.tsx
  apps/rabbithole/src/app/app/dashboard/[seedId]/self-hosted/page.tsx
  apps/rabbithole/src/app/app/dashboard/page.tsx
  apps/rabbithole/src/app/app/docs/page.tsx
  apps/rabbithole/src/app/app/governance/page.tsx
  apps/rabbithole/src/app/app/layout.tsx
  apps/rabbithole/src/app/app/page.tsx
  apps/rabbithole/src/app/app/register/page.tsx
  apps/rabbithole/src/app/app/tips/page.tsx
  apps/rabbithole/src/app/app/world-feed/page.tsx
  apps/rabbithole/src/app/auth/complete/page.tsx
  apps/rabbithole/src/app/checkout/success/page.tsx
  apps/rabbithole/src/app/login/page.tsx
  apps/rabbithole/src/app/page.tsx
  apps/rabbithole/src/app/pricing/page.tsx
  apps/rabbithole/src/app/signup/page.tsx
  apps/rabbithole/src/components/LookingGlassCTA.tsx
  apps/rabbithole/src/components/wunderland/WunderlandNav.tsx
  apps/rabbithole/src/lib/email.ts
  apps/rabbithole/src/styles/landing.scss
  backend/src/main.ts
  deployment/rabbithole/nginx.conf
  packages/agentos-extensions-registry/src/manifest-builder.ts
  packages/agentos-extensions-registry/src/types.ts
  packages/agentos-extensions-registry/test/manifest-builder.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets
