Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: disable recursive submodule fetch to avoid stale ref failures
  .github/workflows/deploy-wunderland-agent.yml
Due: secretlint --maskSecrets

feat: Ollama streaming in backend, fix logo URLs, update docs
  apps/agentos-live-docs/docs/getting-started/documentation-index.md
  apps/agentos-live-docs/vendored-docs/docs/BACKEND_API.md
  backend/src/__tests__/ollama.llm.service.test.ts
  backend/src/core/llm/ollama.llm.service.ts
  packages/codex-extensions/README.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: Ollama streaming in backend, fix logo URLs, update docs
  docs/getting-started/documentation-index.md
  vendored-docs/docs/BACKEND_API.md
Due: prettier --write, secretlint --maskSecrets

docs: update agentos-live-docs with speech runtime, skills, and navigation
  docs/index.md
  docs/skills/agentos-skills-registry.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  sidebars.js
  vendored-docs/packages/agentos-skills-registry/README.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update agentos-live-docs with speech runtime, skills, and navigation
  apps/agentos-live-docs/docs/index.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/docs/skills/skill-format.md
  apps/agentos-live-docs/sidebars.js
  apps/agentos-live-docs/vendored-docs/packages/agentos-skills-registry/README.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update pnpm-lock and wunderland submodule ref
  pnpm-lock.yaml
Due: secretlint --maskSecrets

feat: add RAG knowledge base docs and update wunderland submodule
  rabbithole-ai-agent/knowledge/discord-agent.md
  rabbithole-ai-agent/knowledge/faq.md
  rabbithole-ai-agent/knowledge/founders.md
Due: prettier --write, secretlint --maskSecrets

chore: update submodules with comprehensive docs, voice setup, and site updates
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update submodules with comprehensive docs, voice setup, and site updates
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add jszip to cli-executor devDeps (fixes CI test)
  pnpm-lock.yaml
Due: secretlint --maskSecrets

ci: enable auto-deploy for wunderland.sh on push to master
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
