Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

docs: drop monorepo-stub generator + remove orphaned stub pages
  docs/architecture/chat-server.md
  docs/architecture/cli-subprocess.md
  docs/architecture/http-streaming-api.md
  docs/architecture/runtime-status-matrix.md
  docs/architecture/sandbox-security.md
  docs/architecture/tool-permissions.md
  docs/architecture/tools.md
  docs/features/browser-automation.md
  docs/skills/agentos-skills.md
  scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

docs(platform-support): refresh mirror with adapter source links
  docs/architecture/platform-support.md
Due: prettier --write, secretlint --maskSecrets

fix(navbar): bump logo to 52px + force single-line layout, repair dangling links
  docusaurus.config.ts
  src/css/custom.css
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh mirror after agentos dangling-link fix + drop backend-api stub
  docs/architecture/backend-api.md
  docs/architecture/system-architecture.md
  docs/features/rag-memory.md
  docs/getting-started/changelog.md
Due: prettier --write, secretlint --maskSecrets

home: add Multimodal RAG quick-start tab to docs landing
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh mirror for dangling-link fixes + WIP-tone scrub
  docs/architecture/gmi.md
  docs/features/checkpointing.md
  docs/features/mission-api.md
  docs/features/multimodal-rag.md
  docs/features/unified-orchestration.md
  docs/skills/index.md
Due: prettier --write, secretlint --maskSecrets

home: add HEXACO Agent quick-start tab before Multimodal RAG
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

home: replace Mermaid architecture diagram with hand-crafted SVG + add Streaming tab
  src/pages/index.tsx
  static/img/diagrams/system-architecture.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams(architecture): redesign system architecture SVG, larger and more legible
  docs/architecture/system-architecture.md
  static/img/diagrams/system-architecture.svg
Due: prettier --write, secretlint --maskSecrets

diagrams: rebuild system-architecture SVG with explicit non-overlapping pill math
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

fix(docs): proper layer spacing in system arch SVG + scroll-padding for anchor links
  src/css/custom.css
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

diagrams: compact subtitle to single line, pull pill column closer to title block
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

fix: SVG viewBox cutoff + Layer 3 row spacing + nav-link wrap + tab reorder
  src/css/custom.css
  src/pages/index.tsx
  static/img/diagrams/system-architecture.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: Layer 3 Memory + RAG taller with 72px sub-row pitch
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

diagrams: strip @media prefers-color-scheme from inlined SVG, force data-theme
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: pill column to x=500, trim subtitles so they don't bleed under pills
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

fix(nav): scroll to top of page on cross-page navigation
  docusaurus.config.ts
  src/scroll-top-on-navigate.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

nav: Escape closes the mobile hamburger drawer + mirror LLM Providers scrub
  docs/architecture/llm-providers.md
  src/scroll-top-on-navigate.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(wunderland): drop 'zero-config CLI' tagline in favor of 'interactive-wizard'
  docs/features/rag-memory.md
  docs/wunderland/index.md
Due: prettier --write, secretlint --maskSecrets

static(diagrams): add rag-memory-pipeline.svg
  static/img/diagrams/rag-memory-pipeline.svg
Due: secretlint --maskSecrets

static(diagrams): add 6 hero diagrams + citation-verification reference
  docs/features/citation-verification.md
  static/img/diagrams/agent-graph-topology.svg
  static/img/diagrams/citation-verification-flow.svg
  static/img/diagrams/document-ingestion-pipeline.svg
  static/img/diagrams/hyde-retrieval-flow.svg
  static/img/diagrams/multimodal-rag-fanout.svg
  static/img/diagrams/soul-files-anatomy.svg
Due: prettier --write, secretlint --maskSecrets

static(diagrams): add self-painting backgrounds to all 7 hero diagrams
  static/img/diagrams/agent-graph-topology.svg
  static/img/diagrams/citation-verification-flow.svg
  static/img/diagrams/document-ingestion-pipeline.svg
  static/img/diagrams/hyde-retrieval-flow.svg
  static/img/diagrams/multimodal-rag-fanout.svg
  static/img/diagrams/rag-memory-pipeline.svg
  static/img/diagrams/soul-files-anatomy.svg
Due: secretlint --maskSecrets

feat(diagrams): track Docusaurus site theme via ThemedImage swizzle
  src/components/DiagramImg/index.tsx
  src/theme/MDXComponents.tsx
  static/img/diagrams/agent-graph-topology-dark.svg
  static/img/diagrams/citation-verification-flow-dark.svg
  static/img/diagrams/document-ingestion-pipeline-dark.svg
  static/img/diagrams/hyde-retrieval-flow-dark.svg
  static/img/diagrams/multimodal-rag-fanout-dark.svg
  static/img/diagrams/rag-memory-pipeline-dark.svg
  static/img/diagrams/soul-files-anatomy-dark.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): wrap overflowing hyde-retrieval bench-card text + scope themed swizzle to a registry
  src/components/DiagramImg/index.tsx
  static/img/diagrams/hyde-retrieval-flow-dark.svg
  static/img/diagrams/hyde-retrieval-flow.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(diagrams): retrofit 17 pre-existing diagrams with paired light/dark variants
  src/components/DiagramImg/index.tsx
  static/img/diagrams/adaptive-intelligence-dark.svg
  static/img/diagrams/agent-communication-bus-dark.svg
  static/img/diagrams/cognitive-memory-architecture-dark.svg
  static/img/diagrams/emergent-capabilities-forge-loop-dark.svg
  static/img/diagrams/gmi-architecture-dark.svg
  static/img/diagrams/hexaco-encoding-weights-dark.svg
  static/img/diagrams/hexaco-propagation-dark.svg
  static/img/diagrams/hexaco-radar-dark.svg
  static/img/diagrams/human-in-the-loop-dark.svg
  static/img/diagrams/memory-architecture-layers-dark.svg
  static/img/diagrams/memory-system-overview-dark.svg
  static/img/diagrams/paracosm-divergence-dark.svg
  static/img/diagrams/paracosm-turn-flow-dark.svg
  static/img/diagrams/paracosm-world-model-split-dark.svg
  static/img/diagrams/planning-engine-dark.svg
  static/img/diagrams/system-architecture-dark.svg
  static/img/diagrams/system-architecture-layers-dark.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): inject .bg rule into system-architecture CDATA-wrapped styles
  static/img/diagrams/system-architecture-dark.svg
  static/img/diagrams/system-architecture.svg
Due: secretlint --maskSecrets

fix(DiagramImg): forward arbitrary img props + warn on missing alt
  src/components/DiagramImg/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(home): use DiagramImg for hero architecture diagram
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(DiagramImg): call useBaseUrl unconditionally to stop hydration mismatch
  src/components/DiagramImg/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): move zoom-badge wrap into React component to stop SSR hydration crash
  src/components/DiagramImg/index.tsx
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(navbar): harden logo-scroll-to-top handler
  src/logo-scroll-to-top.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): boost system-architecture-dark gradient saturation
  static/img/diagrams/system-architecture-dark.svg
Due: secretlint --maskSecrets

docs: update changelog
  docs/getting-started/changelog.md
Due: prettier --write, secretlint --maskSecrets

fix(DiagramImg): strip 'display' from inline style so ThemedImage swap works
  src/components/DiagramImg/index.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): make system-architecture-dark gradients hold across the full bar
  static/img/diagrams/system-architecture-dark.svg
Due: secretlint --maskSecrets

fix(diagrams): restore font shorthand on system-architecture-dark text classes
  static/img/diagrams/system-architecture-dark.svg
Due: secretlint --maskSecrets

fix(diagrams): merge light typography into all dark variants
  static/img/diagrams/adaptive-intelligence-dark.svg
  static/img/diagrams/agent-communication-bus-dark.svg
  static/img/diagrams/agent-graph-topology-dark.svg
  static/img/diagrams/citation-verification-flow-dark.svg
  static/img/diagrams/cognitive-memory-architecture-dark.svg
  static/img/diagrams/document-ingestion-pipeline-dark.svg
  static/img/diagrams/emergent-capabilities-forge-loop-dark.svg
  static/img/diagrams/gmi-architecture-dark.svg
  static/img/diagrams/hexaco-encoding-weights-dark.svg
  static/img/diagrams/hexaco-propagation-dark.svg
  static/img/diagrams/hexaco-radar-dark.svg
  static/img/diagrams/human-in-the-loop-dark.svg
  static/img/diagrams/hyde-retrieval-flow-dark.svg
  static/img/diagrams/memory-architecture-layers-dark.svg
  static/img/diagrams/memory-system-overview-dark.svg
  static/img/diagrams/multimodal-rag-fanout-dark.svg
  static/img/diagrams/paracosm-divergence-dark.svg
  static/img/diagrams/paracosm-turn-flow-dark.svg
  static/img/diagrams/paracosm-world-model-split-dark.svg
  static/img/diagrams/planning-engine-dark.svg
  static/img/diagrams/rag-memory-pipeline-dark.svg
  static/img/diagrams/soul-files-anatomy-dark.svg
  static/img/diagrams/system-architecture-layers-dark.svg
Due: secretlint --maskSecrets

fix(diagrams): brighten dark-mode text labels + temper gradient bleed
  static/img/diagrams/system-architecture-dark.svg
Due: secretlint --maskSecrets

docs: sync from canonical agentos (agency shared-memory scope note + hero SVG references)
  docs/architecture/streaming-semantics.md
  docs/features/agency-api.md
  docs/features/agent-graph.md
  docs/features/hyde-retrieval.md
  docs/features/memory-document-ingestion.md
  docs/features/memory-router.md
  docs/features/multimodal-rag.md
  docs/features/query-routing.md
  docs/features/rag-memory.md
  docs/features/read-router.md
  docs/features/soul-files.md
Due: prettier --write, secretlint --maskSecrets
