Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: route /api/auth/ and /api/stripe/ to frontend in nginx
  deployment/rabbithole/nginx.conf
Due: secretlint --maskSecrets

fix: set NEXT_PUBLIC_API_URL=/api at build time
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

feat: make agentos-skills-registry NPM-publishable with lazy-loading DI
  packages/agentos-skills-registry/package.json
  packages/agentos-skills-registry/src/index.ts
  packages/agentos-skills/package.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add @framers/agentos-skills + skills-registry to all ecosystem pages
  packages/agentos-skills-registry/README.md
  packages/agentos-skills/README.md
Due: prettier --write, secretlint --maskSecrets

fix: add @framers/agentos-ext-skills to Docker build chain
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: make agentos-skills optional and remove ext-skills from Docker build
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
  packages/agentos-ext-skills/package.json
Due: prettier --write, secretlint --maskSecrets

fix: add ext-skills build back + use --no-optional for pnpm deploy
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: replace pnpm deploy with direct COPY in backend Dockerfiles
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

feat: skills ecosystem v0.2.0 — community curation, contribution workflow, docs
  docs/features/skills.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: skills ecosystem v0.2.0 — community curation, contribution workflow, docs
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/sidebars.js
  packages/agentos-skills-registry/README.md
  packages/agentos-skills-registry/package.json
  packages/agentos-skills-registry/src/catalog.ts
  packages/agentos-skills-registry/src/index.ts
  packages/agentos-skills/.github/PULL_REQUEST_TEMPLATE.md
  packages/agentos-skills/CONTRIBUTING.md
  packages/agentos-skills/README.md
  packages/agentos-skills/package.json
  packages/agentos-skills/registry/community/.gitkeep
  packages/agentos-skills/registry/curated/git/SKILL.md
  packages/agentos-skills/scripts/validate-skill.mjs
  packages/agentos-skills/types.d.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: social engine orchestration service + auto-approval authorization + governance layers
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/sidebars.js
  backend/src/core/database/appDatabase.ts
  backend/src/modules/wunderland/orchestration/alliance-persistence.service.ts
  backend/src/modules/wunderland/orchestration/browsing-persistence.service.ts
  backend/src/modules/wunderland/orchestration/dm-persistence.service.ts
  backend/src/modules/wunderland/orchestration/enclave-persistence.service.ts
  backend/src/modules/wunderland/orchestration/mood-persistence.service.ts
  backend/src/modules/wunderland/orchestration/orchestration.module.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
  backend/src/modules/wunderland/orchestration/safety-persistence.service.ts
  backend/src/modules/wunderland/orchestration/trust-persistence.service.ts
  backend/src/modules/wunderland/wunderland.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: social engine orchestration service + auto-approval authorization + governance layers
  docs/features/skills.md
  docs/skills/overview.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: tool access profiles — inspectable per-agent permissions with backend API + frontend UI
  backend/src/core/database/appDatabase.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.controller.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/dto/agent-registry.dto.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: preset skills integration, agent serialization & full test suite
  apps/agentos-live-docs/docs/features/skills.md
Due: prettier --write, secretlint --maskSecrets

feat: preset skills integration, agent serialization & full test suite
  docs/features/skills.md
Due: prettier --write, secretlint --maskSecrets

feat: support ticket system — VA admin CSV auth, anonymization, PII redaction
  backend/config/va-admins.csv
  backend/src/app.module.ts
  backend/src/common/guards/pro-tier.guard.ts
  backend/src/common/guards/va-admin.guard.ts
  backend/src/config/appConfig.ts
  backend/src/core/database/appDatabase.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/auth/va-admin.service.ts
  backend/src/modules/support/anonymization.service.ts
  backend/src/modules/support/support.controller.ts
  backend/src/modules/support/support.module.ts
  backend/src/modules/support/support.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: nginx rate limiting + Cloudflare integration, Dockerfile workspace symlinks
  deployment/rabbithole/Dockerfile.backend
  deployment/rabbithole/nginx.conf
Due: secretlint --maskSecrets

fix: exclude unused submodule apps from Docker build context
  .dockerignore
Due: secretlint --maskSecrets

fix: add missing workspace packages to Dockerfile runtime stage
  deployment/rabbithole/Dockerfile.backend
Due: secretlint --maskSecrets

feat: add web-search + git skills to curated catalog, update skill counts to 18
  docs/features/skills.md
  docs/skills/agentos-skills-registry.md
  docs/skills/agentos-skills.md
Due: prettier --write, secretlint --maskSecrets

feat: add web-search + git skills to curated catalog, update skill counts to 18
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/docs/skills/agentos-skills.md
  packages/agentos-skills-registry/src/catalog.ts
  packages/agentos-skills/registry/curated/web-search/SKILL.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: force workspace symlinks in Docker runtime to override pnpm prune
  deployment/rabbithole/Dockerfile.backend
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
