Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(deploy): merge backend into frontend service for single-process deploy
  deployment/rabbithole/docker-compose.yml
  deployment/rabbithole/rabbithole.service
Due: secretlint --maskSecrets

feat(ci): update deploy pipeline for unified backend sidecar
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix(ci): add missing extension packages + turbopack hash fix to Dockerfile
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

chore(deps): add wunderbot-feeds extension + update lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: secretlint --maskSecrets

fix(deploy): add @wunderland/social to CI build chain + disable bots in production
  .github/workflows/deploy-rabbithole.yml
  deployment/rabbithole/Dockerfile.backend
  deployment/rabbithole/Dockerfile.frontend
  deployment/rabbithole/docker-compose.yml
  deployment/rabbithole/rabbithole.service
Due: secretlint --maskSecrets

feat: enable Telegram channel + bump agentos-extensions (Telegram /ask)
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, secretlint --maskSecrets

fix(deploy): add @wunderland-sol/sdk to CI build chain + bump rabbithole
  .github/workflows/deploy-rabbithole.yml
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

feat(billing): rename tiers Starter→Explorer, Pro→Pioneer + bump rabbithole
  .env.example
  backend/src/common/guards/pro-tier.guard.ts
  backend/src/modules/human-help/human-help.controller.ts
  backend/src/modules/support/support.controller.ts
  backend/src/modules/tunnel/tunnel.controller.ts
  backend/src/modules/tunnel/tunnel.service.ts
  deployment/rabbithole/.env.example
  packages/shared/src/planCatalog.ts
  scripts/generate-stripe-product-images.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: landing page redesign + /cards page + dashboard sleekification
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix(deploy): use webpack bundler for Next.js build
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix(docs): generate stubs for missing sidebar docs to fix CI build
  apps/agentos-live-docs/scripts/pull-docs.mjs
Due: secretlint --maskSecrets

fix(docs): generate stubs for missing sidebar docs to fix CI build
  scripts/pull-docs.mjs
Due: secretlint --maskSecrets

fix(docs): vendor monorepo docs for CI + fix broken links
  apps/agentos-live-docs/scripts/pull-docs.mjs
  apps/agentos-live-docs/vendored-docs/docs/BACKEND_API.md
  apps/agentos-live-docs/vendored-docs/docs/EMERGENT_AGENCY_SYSTEM.md
  apps/agentos-live-docs/vendored-docs/docs/MULTI_GMI_COLLABORATION.md
  apps/agentos-live-docs/vendored-docs/packages/agentos-ext-skills/README.md
  apps/agentos-live-docs/vendored-docs/packages/agentos-skills-registry/README.md
  apps/agentos-live-docs/vendored-docs/packages/sql-storage-adapter/PLATFORM_STRATEGY.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): vendor monorepo docs for CI + fix broken links
  scripts/pull-docs.mjs
  vendored-docs/docs/BACKEND_API.md
  vendored-docs/docs/EMERGENT_AGENCY_SYSTEM.md
  vendored-docs/docs/MULTI_GMI_COLLABORATION.md
  vendored-docs/packages/agentos-ext-skills/README.md
  vendored-docs/packages/agentos-skills-registry/README.md
  vendored-docs/packages/sql-storage-adapter/PLATFORM_STRATEGY.md
Due: prettier --write, secretlint --maskSecrets
