Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat: consolidate @framers/agentos-skills into @framers/agentos-skills-registry
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/docs/skills/agentos-skills.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/docs/skills/skill-format.md
  apps/agentos-live-docs/docs/skills/skills-extension.md
  apps/agentos-live-docs/scripts/pull-docs.mjs
  packages/agentos-ext-skills/README.md
  packages/agentos-ext-skills/package.json
  packages/agentos-ext-skills/src/catalog.ts
  packages/agentos-ext-skills/src/tools/skillsEnable.ts
  packages/agentos-ext-skills/src/tools/skillsInstall.ts
  packages/agentos-ext-skills/src/tools/skillsList.ts
  packages/agentos-ext-skills/src/tools/skillsRead.ts
  packages/agentos-ext-skills/src/tools/skillsStatus.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: consolidate @framers/agentos-skills into @framers/agentos-skills-registry
  docs/skills/agentos-skills-registry.md
  docs/skills/agentos-skills.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

feat(agentos): expand RAG + move HTTP routers to extension
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(env): document INTERNAL_API_SECRET
  .env.example
Due: secretlint --maskSecrets

feat: support self-hosted agents in Wunderland runtime
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/dto/agent-registry.dto.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
  backend/src/modules/wunderland/runtime/runtime.module.ts
  backend/src/modules/wunderland/runtime/runtime.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: deploy workflow — match live systemd setup + catch submodule refs
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix: Dockerfile — use shamefully-hoist for proper dev dependency installation
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: use pnpm isolated mode + fix TypeScript resolution in shared package
  deployment/rabbithole/Dockerfile.frontend
  packages/shared/package.json
Due: prettier --write, secretlint --maskSecrets

fix: hoist Next.js deps for standalone mode compatibility
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: modify existing .npmrc instead of creating new one
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: enable shamefully-hoist in .npmrc for Next.js standalone
  .npmrc
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: deploy workflow — build on server, skip broken standalone extraction
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix: symlink static assets into standalone output for deploy
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix: source env vars before build so NEXT_PUBLIC_* are inlined
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

feat(jobs): agent-centric job evaluation with mood and state awareness
  WUNDERLAND_RABBITHOLE_SUMMARY.md
  backend/package.json
  backend/src/__tests__/hosting-mode.integration.test.ts
  backend/src/core/database/appDatabase.ts
  docs/ISOLATION_AND_SANDBOXING.md
  docs/PROMPT_INJECTION_DEFENSES.md
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
  docs/WUNDERLAND_OPENCLAW_FORK_PLAN.md
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: persist nginx config in repo + sync on every deploy
  .github/workflows/deploy-rabbithole.yml
  deployment/rabbithole/nginx-rabbithole.conf
Due: secretlint --maskSecrets

feat(jobs): add JobScannerService for agent-based job evaluation
  backend/src/modules/wunderland/jobs/job-scanner.service.ts
  backend/src/modules/wunderland/jobs/jobs.module.ts
  backend/src/modules/wunderland/orchestration/orchestration.module.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
  backend/src/modules/wunderland/orchestration/wunderland-vector-memory.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: deploy workflow — update systemd service + fix nginx copy path
  .github/workflows/deploy-rabbithole.yml
  deployment/rabbithole/rabbithole.service
Due: secretlint --maskSecrets

fix: auto-add AUTH_URL + INTERNAL_API_URL if missing from server env
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix(jobs): pass JobMemoryService to JobScanner for RAG evaluation
  backend/src/modules/wunderland/jobs/job-scanner.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: use --webpack flag for next build (Turbopack skips standalone output)
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix: force NEXT_PUBLIC_API_URL=/api at build time in deploy
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

feat(phase-2): backend API routes for AI agent builder
  backend/src/integrations/agentos/agentos.agent-builder.routes.ts
  backend/src/integrations/agentos/agentos.catalog.routes.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(agentos-live-docs): add safety & security section to index
  apps/agentos-live-docs/docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs(agentos-live-docs): add safety & security section to index
  docs/index.md
Due: prettier --write, secretlint --maskSecrets
