Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

fix: remove duplicate redirects causing docs build failure
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove duplicate redirects causing docs build failure
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add /docs → / redirect for docs.agentos.sh
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add /docs → / redirect for docs.agentos.sh
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: update Get Started + API Reference links to root paths
  apps/agentos-live-docs/src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: update Get Started + API Reference links to root paths
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

refactor: rename @framers/agentos-ext-skills to @framers/agentos-skills
  docs/architecture/tool-calling-and-loading.md
  docs/extensions/extension-architecture.md
  docs/extensions/overview.md
  docs/features/guardrails.md
  docs/getting-started/documentation-index.md
  docs/skills/agentos-skills-registry.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  vendored-docs/packages/agentos-ext-skills/README.md
Due: prettier --write, secretlint --maskSecrets

refactor: rename @framers/agentos-ext-skills to @framers/agentos-skills
  apps/agentos-live-docs/docs/architecture/tool-calling-and-loading.md
  apps/agentos-live-docs/docs/extensions/extension-architecture.md
  apps/agentos-live-docs/docs/extensions/overview.md
  apps/agentos-live-docs/docs/features/guardrails.md
  apps/agentos-live-docs/docs/getting-started/documentation-index.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/docs/skills/skill-format.md
  apps/agentos-live-docs/docs/skills/skills-extension.md
  apps/agentos-live-docs/vendored-docs/packages/agentos-ext-skills/README.md
  backend/package.json
  docs/superpowers/specs/2026-03-15-agentos-core-reorg-design.md
  docs/superpowers/specs/2026-03-16-agentos-reorg-implementation-guide.md
  packages/agentos-ext-skills/README.md
  packages/agentos-ext-skills/package.json
  packages/agentos-ext-skills/src/index.ts
  packages/agentos-ext-skills/test/skills-tools.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: rename remaining @framers/agentos-ext-skills refs in examples
  packages/agentos-ext-skills/examples/enable-skill-and-snapshot.mjs
Due: secretlint --maskSecrets

fix: remove /docs catch-all redirects causing build failure
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove /docs catch-all redirects causing build failure
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

merge: pull upstream live-docs + resolve backend conflicts
  backend/README.MD
  backend/package.json
  backend/src/__tests__/agentos.multimodal-rag.test.ts
  backend/src/integrations/agentos/agentos.rag.service.ts
  backend/src/types/optionalDependencies.d.ts
  packages/agentos-ext-http-api/src/rag/rag.multimodal.routes.test.ts
  packages/agentos-ext-http-api/src/rag/rag.multimodal.routes.ts
  packages/agentos-ext-http-api/src/rag/rag.types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: rename @framers/agentos-ext-skills to @framers/agentos-skills in backend deps
  backend/package.json
Due: prettier --write, secretlint --maskSecrets

fix: remove /docs/ prefix from all internal links across both docs sites
  apps/agentos-live-docs/docs/extensions/built-in/code-safety.md
  apps/agentos-live-docs/docs/extensions/built-in/grounding-guard.md
  apps/agentos-live-docs/docs/extensions/built-in/ml-classifiers.md
  apps/agentos-live-docs/docs/extensions/built-in/pii-redaction.md
  apps/agentos-live-docs/docs/extensions/built-in/topicality.md
  apps/agentos-live-docs/docs/extensions/overview.md
  apps/agentos-live-docs/docs/features/capability-discovery.md
  apps/agentos-live-docs/docs/features/guardrails-architecture.md
  apps/agentos-live-docs/docs/features/guardrails.md
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/docs/getting-started/documentation-index.md
  apps/agentos-live-docs/docs/index.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

fix: remove /docs/ prefix from all internal links across both docs sites
  docs/extensions/built-in/code-safety.md
  docs/extensions/built-in/grounding-guard.md
  docs/extensions/built-in/ml-classifiers.md
  docs/extensions/built-in/pii-redaction.md
  docs/extensions/built-in/topicality.md
  docs/extensions/overview.md
  docs/features/capability-discovery.md
  docs/features/guardrails-architecture.md
  docs/features/guardrails.md
  docs/features/skills.md
  docs/getting-started/documentation-index.md
  docs/index.md
  docs/skills/agentos-skills-registry.md
  scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

docs: add AgentOS Workbench update design spec (guardrails + skills + memory)
  docs/superpowers/specs/2026-03-22-agentos-workbench-update-design.md
Due: prettier --write, secretlint --maskSecrets

docs: add AgentOS Workbench update implementation plan (9 tasks)
  docs/superpowers/plans/2026-03-22-agentos-workbench-update.md
Due: prettier --write, secretlint --maskSecrets
