Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

feat: redesign docs.agentos.sh hero, fix nav logo, improve search contrast
  apps/agentos-live-docs/docusaurus.config.ts
  apps/agentos-live-docs/src/css/custom.css
  apps/agentos-live-docs/src/pages/index.tsx
  apps/agentos-live-docs/static/img/logo-light.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: redesign docs.agentos.sh hero, fix nav logo, improve search contrast
  docusaurus.config.ts
  src/css/custom.css
  src/pages/index.tsx
  static/img/logo-light.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

refactor: restructure wunderland submodules for clean domain mapping
  .github/workflows/deploy-wunderland-node.yml
  .gitmodules
Due: secretlint --maskSecrets

fix: redesign hero with proper dark/light theming, fix buttons and search
  apps/agentos-live-docs/src/css/custom.css
  apps/agentos-live-docs/src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: redesign hero with proper dark/light theming, fix buttons and search
  src/css/custom.css
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: tsconfig extends removed, dark mode button/link styles improved
  apps/agentos-live-docs/tsconfig.json
Due: prettier --write, secretlint --maskSecrets

fix: tsconfig extends removed, dark mode button/link styles improved
  tsconfig.json
Due: prettier --write, secretlint --maskSecrets

docs: update @framers/agentos-skills page — runtime package documentation
  docs/skills/agentos-skills.md
Due: prettier --write, secretlint --maskSecrets

docs: update @framers/agentos-skills page — runtime package documentation
  apps/agentos-live-docs/docs/skills/agentos-skills.md
Due: prettier --write, secretlint --maskSecrets

fix: re-add speech-runtime to sidebar (was causing 404)
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: re-add speech-runtime to sidebar (was causing 404)
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(ci): add pnpm-lock.yaml for CI builds
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix: deep-research link → rag-memory (doc doesn't exist yet)
  apps/agentos-live-docs/src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: deep-research link → rag-memory (doc doesn't exist yet)
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove speech-runtime from sidebar (generated dir is gitignored)
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove speech-runtime from sidebar (generated dir is gitignored)
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add deep research guide
  scripts/pull-docs.mjs
  sidebars.js
  src/pages/index.tsx
  vendored-docs/docs/DEEP_RESEARCH.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add deep research guide
  apps/agentos-live-docs/scripts/pull-docs.mjs
  apps/agentos-live-docs/sidebars.js
  apps/agentos-live-docs/src/pages/index.tsx
  apps/agentos-live-docs/vendored-docs/docs/DEEP_RESEARCH.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: move DEEP_RESEARCH.md to correct vendored path
  apps/agentos-live-docs/vendored-docs/packages/agentos-skills-registry/README.md
  apps/agentos-live-docs/vendored-docs/packages/agentos/docs/DEEP_RESEARCH.md
Due: prettier --write, secretlint --maskSecrets

fix: move DEEP_RESEARCH.md to correct vendored path
  vendored-docs/packages/agentos-skills-registry/README.md
  vendored-docs/packages/agentos/docs/DEEP_RESEARCH.md
Due: prettier --write, secretlint --maskSecrets

docs: add PII redaction extension design specification
  docs/superpowers/specs/2026-03-19-pii-redaction-extension-design.md
Due: prettier --write, secretlint --maskSecrets

docs: address spec review issues for PII redaction extension
  docs/superpowers/specs/2026-03-19-pii-redaction-extension-design.md
Due: prettier --write, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
