Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Electron desktop app with embedded Express backend
  backend/server.ts
  electron/electron-builder.yml
  electron/entitlements.mac.plist
  electron/package.json
  electron/scripts/notarize.js
  electron/scripts/rebuild-native.js
  electron/src/main/auto-updater.ts
  electron/src/main/backend-bridge.ts
  electron/src/main/index.ts
  electron/src/main/ipc-handlers.ts
  electron/src/preload/index.ts
  electron/tsconfig.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Capacitor mobile app with on-device ML
  apps/fabric-mobile/ExportOptions.plist
  apps/fabric-mobile/capacitor.config.ts
  apps/fabric-mobile/index.html
  apps/fabric-mobile/package.json
  apps/fabric-mobile/src/App.vue
  apps/fabric-mobile/src/capacitor/sqlite.ts
  apps/fabric-mobile/src/capacitor/sync.ts
  apps/fabric-mobile/src/components/NavBar.vue
  apps/fabric-mobile/src/main.ts
  apps/fabric-mobile/src/ml/transformers.ts
  apps/fabric-mobile/src/views/HomeView.vue
  apps/fabric-mobile/src/views/SearchView.vue
  apps/fabric-mobile/src/views/SettingsView.vue
  apps/fabric-mobile/src/views/StrandView.vue
  apps/fabric-mobile/src/vite-env.d.ts
  apps/fabric-mobile/tsconfig.json
  apps/fabric-mobile/tsconfig.node.json
  apps/fabric-mobile/vite.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

ci: add GitHub Actions for Electron and mobile builds
  .github/workflows/electron-build.yml
  .github/workflows/mobile-build.yml
Due: secretlint --maskSecrets

docs: add comprehensive self-hosting wiki documentation
  wiki/codex/self-hosting.md
Due: prettier --write, secretlint --maskSecrets

chore: update frame.dev submodule (mobile responsive Learning Studio) and sync lockfile
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix: update pnpm lockfile for CI
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix: add root .npmrc and update frame.dev with onnxruntime-web fix
  .npmrc
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
