Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

ci: auto-deploy wunderland agent on push to agent-related paths
  .github/workflows/deploy-wunderland-agent.yml
Due: secretlint --maskSecrets

fix: repair stale submodule references blocking deploys
  .gitmodules
Due: secretlint --maskSecrets

fix: update deploy to handle stale submodule refs gracefully
  .github/workflows/deploy-wunderland-agent.yml
Due: secretlint --maskSecrets

feat(backend): add NestJS MemoryController — 13 REST endpoints for cognitive memory
  backend/src/modules/wunderland/orchestration/memory.controller.ts
  backend/src/modules/wunderland/orchestration/orchestration.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add cognitive memory skill, extension, and docs
  apps/agentos-live-docs/docs/features/cognitive-memory.md
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add cognitive memory skill, extension, and docs
  docs/features/cognitive-memory.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: update agentos-live-docs branding with proper logos
  apps/agentos-live-docs/docusaurus.config.ts
  apps/agentos-live-docs/static/img/agentos-icon.png
  apps/agentos-live-docs/static/img/agentos-wordmark.png
  apps/agentos-live-docs/static/img/frame-logo.svg
  apps/agentos-live-docs/static/img/logo-dark.svg
  apps/agentos-live-docs/static/img/og-image.png
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: update agentos-live-docs branding with proper logos
  docusaurus.config.ts
  static/img/agentos-icon.png
  static/img/agentos-wordmark.png
  static/img/frame-logo.svg
  static/img/logo-dark.svg
  static/img/og-image.png
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: cognitive memory system — Codex improvements across all submodules
  apps/agentos-live-docs/docs/extensions/overview.md
  apps/agentos-live-docs/docs/features/cognitive-memory.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/docusaurus.config.ts
  apps/agentos-live-docs/scripts/pull-docs.mjs
  backend/src/modules/wunderland/orchestration/memory.controller.ts
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: cognitive memory system — Codex improvements across all submodules
  docs/extensions/overview.md
  docs/features/cognitive-memory.md
  docs/skills/agentos-skills-registry.md
  docs/skills/overview.md
  docusaurus.config.ts
  scripts/pull-docs.mjs
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update security docs with prompt extraction defense details
  WUNDERLAND_RABBITHOLE_SUMMARY.md
  docs/PROMPT_INJECTION_DEFENSES.md
Due: prettier --write, secretlint --maskSecrets
