Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

docs: dev diary Entry 27 — CI pipeline repair, AgentOS 0.1.23, peer deps
  docs/DEV_DIARY.md
Due: prettier --write, secretlint --maskSecrets

chore: update wunderland-sh submodule — Chainstack RPC priority, deployment .env.example
  deployment/wunderland-sol/.env.example
Due: secretlint --maskSecrets

chore: update wunderland-sh submodule — Chainstack devnet RPC, mainnet switch pattern
  deployment/wunderland-sol/.env.example
Due: secretlint --maskSecrets

docs: emoji reactions tests, social features guide, TG links across repos
  docs/BACKEND_API.md
Due: prettier --write, secretlint --maskSecrets

docs: add ENABLE_SOCIAL_ORCHESTRATION to all .env.example files
  .env.example
  deployment/rabbithole/.env.example
  deployment/wunderland-sol/.env.example
Due: secretlint --maskSecrets

feat: Wunderland credit tiers, planId in JWT, agent builder enhancements
  backend/src/core/cost/creditAllocation.service.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/cost/credits.routes.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: wave 3 agents (Zara Flux + SIGINT-7), engagement persistence, avatar support
  scripts/agent-signers/SIGINT-7.json
  scripts/agent-signers/Zara_Flux.json
  scripts/agent-signers/manifest-wave3.json
  scripts/mint-agents-wave3.ts
  scripts/register-agents-wave3.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

refactor: revert wunderland code from root backend — now in rabbithole
  backend/src/core/cost/creditAllocation.service.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/cost/credits.routes.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: dev diary updates — 2026-02-12 session (engagement, wave 3, avatar)
  docs/DEV_DIARY.md
Due: prettier --write, secretlint --maskSecrets

feat: autonomous voting + engagement stats — deploy to production
  deployment/wunderland-sol/.env.example
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
