Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: use HTTPS for gitpaywidget
  .gitmodules
Due: secretlint --maskSecrets

fix: use GH_PAT for private submodules in CI
  .github/workflows/gitpaywidget-ci.yml
Due: secretlint --maskSecrets

fix: use no-frozen-lockfile in CI
  .github/workflows/gitpaywidget-ci.yml
Due: secretlint --maskSecrets

fix: update sql-storage-adapter submodule and simplify monorepo CI
  .github/workflows/monorepo-ci.yml
Due: secretlint --maskSecrets

chore: remove internal docs not meant for open source
  docs/EXTENSIONS_VERIFICATION.md
  docs/EXTENSION_SYSTEM_STATUS.md
  docs/IMPLEMENTATION_COMPLETE.md
  docs/LEGAL_RETENTION_NOTES.md
  docs/MISSION_ACCOMPLISHED.md
  docs/MULTI_GMI_IMPLEMENTATION_PLAN.md
  docs/POST_REFACTOR_TODO.md
  docs/RAG_INTEGRATION_ANALYSIS.md
  docs/README_REFACTOR.md
  docs/REFACTOR_COMPLETE_SUMMARY.md
  docs/REFACTOR_STATUS_FINAL.md
  docs/REPO_MIRRORING.md
  docs/SIGNUP_BILLING_IMPLEMENTATION_PLAN.md
  docs/V0_1_0_FINAL_AUDIT.md
Due: prettier --write, secretlint --maskSecrets

fix: add explicit types for RAG ingestion and stats variables
  backend/src/features/agents/userAgentKnowledge.service.ts
  backend/src/integrations/agentos/agentos.rag.routes.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
