Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

docs: add interview portfolio guide — AgentOS + Wunderland + Eval Harness
  docs/INTERVIEW_PORTFOLIO_GUIDE.md
Due: prettier --write, secretlint --maskSecrets

fix: docs site sidebar, README logos, cli-executor build
  README.md
  sidebars.js
  static/img/brand/agentos-primary-no-tagline-transparent-2x.png
  static/img/brand/frame-logo-green-no-tagline.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: docs site sidebar, README logos, cli-executor build
  apps/agentos-live-docs/README.md
  apps/agentos-live-docs/sidebars.js
  apps/agentos-live-docs/static/img/brand/agentos-primary-no-tagline-transparent-2x.png
  apps/agentos-live-docs/static/img/brand/frame-logo-green-no-tagline.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: dark mode link contrast on docs.agentos.sh + remove sol API from wunderland docs
  apps/agentos-live-docs/src/css/custom.css
Due: secretlint --maskSecrets

fix: dark mode link contrast on docs.agentos.sh + remove sol API from wunderland docs
  src/css/custom.css
Due: secretlint --maskSecrets
