Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

docs: update backend API and integration audit
  docs/BACKEND_API.md
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
Due: prettier --write, secretlint --maskSecrets

docs: update BACKEND_API with RAG debug/graph params, bump submodules
  docs/BACKEND_API.md
Due: prettier --write, secretlint --maskSecrets

chore: update pnpm-lock.yaml for cli-table3, ansi-to-html deps
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix: remove WUNDERLAND_ENABLED conditional — always load Wunderland modules
  backend/src/modules/wunderland/wunderland-health.controller.ts
  backend/src/modules/wunderland/wunderland.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: Docker frontend build — analytics args, standalone paths, exclude templates
  .dockerignore
  deployment/wunderland-sol/Dockerfile.frontend
  deployment/wunderland-sol/docker-compose.yml
Due: secretlint --maskSecrets

chore: add BRAVE_API_KEY to .env.example files
  deployment/rabbithole/.env.example
  deployment/wunderland-sol/.env.example
Due: secretlint --maskSecrets

docs(discovery): add capability discovery feature page to agentos-live-docs
  apps/agentos-live-docs/docs/architecture/tool-calling-and-loading.md
  apps/agentos-live-docs/docs/features/capability-discovery.md
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(discovery): add capability discovery feature page to agentos-live-docs
  docs/architecture/tool-calling-and-loading.md
  docs/features/capability-discovery.md
  docs/features/skills.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Capability Discovery to landing pages
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Capability Discovery to landing pages
  apps/agentos-live-docs/src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(backend): wunderland/advanced imports + @Inject decorator + RAG graphContext
  backend/src/common/guards/auth.guard.ts
  backend/src/integrations/agentos/agentos.rag.service.ts
  backend/src/modules/wunderland/channels/channel-auto-reply.service.ts
  backend/src/modules/wunderland/jobs/job-execution.service.ts
  backend/src/modules/wunderland/jobs/job-scanner.service.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
  backend/tsconfig.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add rabbithole-ai-agent config template
  rabbithole-ai-agent/.env.example
  rabbithole-ai-agent/README.md
  rabbithole-ai-agent/agent.config.json
  rabbithole-ai-agent/skills/.gitkeep
Due: prettier --write, secretlint --maskSecrets

chore: add agentic-file-search submodule (PromtEngineer/agentic-file-search)
  .gitmodules
Due: secretlint --maskSecrets

fix(deploy): add wunderland + extension packages to Docker build & standalone
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix(ci): workspace:* for extension deps, OpenClaw hero branding
  pnpm-lock.yaml
Due: secretlint --maskSecrets

feat(searxng): SearXNG integration + tool status dashboard + default presets
  .env.example
  deployment/rabbithole/.env.example
  deployment/rabbithole/docker-compose.yml
  deployment/rabbithole/searxng-settings.yml
  deployment/wunderland-sol/.env.example
  rabbithole-ai-agent/.env.example
Due: secretlint --maskSecrets

feat: weather extension, Discord slash commands, discovery system
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rabbithole-ai-agent/.env.example
  rabbithole-ai-agent/README.md
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, secretlint --maskSecrets

feat: feed ingestion API — channel mappings and env config
  rabbithole-ai-agent/.env.example
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, secretlint --maskSecrets
