Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

feat: agent safety primitives — circuit breaker, loop prevention, cost guard
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: agent safety primitives — circuit breaker, loop prevention, cost guard
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add safety primitives to landing pages, architecture & READMEs
  docs/ARCHITECTURE.md
Due: prettier --write, secretlint --maskSecrets

feat(observability): OTEL opt-in + docs + tests
  docs/index.md
  docs/skills/agentos-skills-registry.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  docusaurus.config.ts
  scripts/pull-docs.mjs
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: multimodal RAG asset ingest
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: init provider manager for media ingest
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: expose RAG media asset APIs
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: reset provider init promise on dispose
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: multimodal RAG routes + tests
  .env.example
  backend/README.MD
  backend/package.json
  backend/src/__tests__/agentos.multimodal-rag.test.ts
  backend/src/integrations/agentos/agentos.rag.multimodal.routes.ts
  backend/src/integrations/agentos/agentos.rag.routes.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: allow empty RAG_DATABASE_PATH
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update submodule refs + RAG multimodal support
  .env.example
  backend/README.MD
  backend/src/__tests__/agentos.multimodal-rag.test.ts
  backend/src/integrations/agentos/agentos.rag.service.ts
  backend/src/modules/wunderland/orchestration/wunderland-vector-memory.service.ts
  docs/BACKEND_API.md
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add AUTH_URL and OAuth vars to deployment .env.example
  deployment/rabbithole/.env.example
Due: secretlint --maskSecrets

feat: persist skills and channels in agent registration
  backend/src/core/database/appDatabase.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/dto/agent-registry.dto.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add INTERNAL_API_URL for server-side API routes + update rabbithole
  deployment/rabbithole/.env.example
Due: secretlint --maskSecrets

fix: build workspace deps before rabbithole in Dockerfile.frontend
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: add @framers/agentos to Dockerfile.frontend build chain
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: add shared + sql-storage-adapter to frontend build chain
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

feat: add VA admin CSV + mount in docker-compose for admin access
  deployment/rabbithole/.env.example
  deployment/rabbithole/docker-compose.yml
  deployment/rabbithole/va-admins.csv
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
