Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

ci: disable parent deploy-rabbithole.yml, rabbithole now deploys itself
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

feat: add Remotion demo video project (apps/demo-video/)
  apps/demo-video/package.json
  apps/demo-video/public/chat-toolcall.png
  apps/demo-video/public/hitl-dashboard.png
  apps/demo-video/public/presets-grid.png
  apps/demo-video/public/setup-wizard.png
  apps/demo-video/public/tui-dashboard.png
  apps/demo-video/remotion.config.ts
  apps/demo-video/src/DemoVideo.tsx
  apps/demo-video/src/Root.tsx
  apps/demo-video/src/components/AnimatedCounter.tsx
  apps/demo-video/src/components/FloatingParticles.tsx
  apps/demo-video/src/components/GlassCard.tsx
  apps/demo-video/src/components/GradientText.tsx
  apps/demo-video/src/components/RabbitHoleIconSvg.tsx
  apps/demo-video/src/components/Terminal.tsx
  apps/demo-video/src/components/TypingAnimation.tsx
  apps/demo-video/src/components/WunderlandIconSvg.tsx
  apps/demo-video/src/index.ts
  apps/demo-video/src/scenes/BrandIntro.tsx
  apps/demo-video/src/scenes/EcosystemGrid.tsx
  apps/demo-video/src/scenes/FeatureHighlights.tsx
  apps/demo-video/src/scenes/InstallSequence.tsx
  apps/demo-video/src/scenes/RabbitholeCTA.tsx
  apps/demo-video/src/scenes/ScreenshotShowcase.tsx
  apps/demo-video/src/scenes/StatsCounter.tsx
  apps/demo-video/src/theme/colors.ts
  apps/demo-video/src/theme/fonts.ts
  apps/demo-video/src/theme/timing.ts
  apps/demo-video/tsconfig.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(agentos): fix ChannelGateway deep-dive path links
  AGENTOS_IMPLEMENTATION_DEEP_DIVE.md
Due: prettier --write, secretlint --maskSecrets

docs(agentos): expand extensions/discovery guidance and add neo4j compose
  apps/agentos-live-docs/docs/architecture/tool-calling-and-loading.md
  apps/agentos-live-docs/docs/extensions/overview.md
  deployment/neo4j/docker-compose.yml
  docs/discovery-embeddings-info.md
Due: prettier --write, secretlint --maskSecrets

docs(agentos): expand extensions/discovery guidance and add neo4j compose
  docs/architecture/tool-calling-and-loading.md
  docs/extensions/overview.md
Due: prettier --write, secretlint --maskSecrets

feat(demo-video): refresh remotion showcase scenes, overlays, and voiceover assets
  apps/demo-video/public/doctor-grid.png
  apps/demo-video/public/extensions-grid.png
  apps/demo-video/public/models-grid.png
  apps/demo-video/public/rabbithole-icon.png
  apps/demo-video/public/skills-grid.png
  apps/demo-video/public/voiceover/brand-intro.mp3
  apps/demo-video/public/voiceover/cta.mp3
  apps/demo-video/public/voiceover/ecosystem.mp3
  apps/demo-video/public/voiceover/features.mp3
  apps/demo-video/public/voiceover/install-phase1.mp3
  apps/demo-video/public/voiceover/install-phase2.mp3
  apps/demo-video/public/voiceover/install-phase3.mp3
  apps/demo-video/public/voiceover/screenshots.mp3
  apps/demo-video/public/voiceover/soundtrack.mp3
  apps/demo-video/public/voiceover/stats.mp3
  apps/demo-video/public/wunderland-icon.png
  apps/demo-video/public/wunderland-logo.png
  apps/demo-video/src/DemoVideo.tsx
  apps/demo-video/src/components/CaptionOverlay.tsx
  apps/demo-video/src/components/EcosystemIconSvg.tsx
  apps/demo-video/src/components/GradientText.tsx
  apps/demo-video/src/components/ShineText.tsx
  apps/demo-video/src/components/Terminal.tsx
  apps/demo-video/src/components/Watermark.tsx
  apps/demo-video/src/data/captions.ts
  apps/demo-video/src/scenes/BrandIntro.tsx
  apps/demo-video/src/scenes/EcosystemGrid.tsx
  apps/demo-video/src/scenes/FeatureHighlights.tsx
  apps/demo-video/src/scenes/InstallSequence.tsx
  apps/demo-video/src/scenes/RabbitholeCTA.tsx
  apps/demo-video/src/scenes/ScreenshotShowcase.tsx
  apps/demo-video/src/scenes/StatsCounter.tsx
  apps/demo-video/src/theme/colors.ts
  apps/demo-video/src/theme/timing.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(agentos): update rabbithole AI agent defaults and quota naming
  rabbithole-ai-agent/README.md
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, secretlint --maskSecrets

feat(demo-video): polish scenes, extend soundtrack, fix typography
  apps/demo-video/public/models-grid.png
  apps/demo-video/public/voiceover/brand-intro.mp3
  apps/demo-video/public/voiceover/soundtrack.mp3
  apps/demo-video/public/voiceover/stats.mp3
  apps/demo-video/scripts/generate-vo.ts
  apps/demo-video/src/DemoVideo.tsx
  apps/demo-video/src/components/AnimatedCounter.tsx
  apps/demo-video/src/components/Terminal.tsx
  apps/demo-video/src/data/captions.ts
  apps/demo-video/src/scenes/EcosystemGrid.tsx
  apps/demo-video/src/scenes/FeatureHighlights.tsx
  apps/demo-video/src/scenes/InstallSequence.tsx
  apps/demo-video/src/scenes/RabbitholeCTA.tsx
  apps/demo-video/src/scenes/ScreenshotShowcase.tsx
  apps/demo-video/src/scenes/StatsCounter.tsx
  apps/demo-video/src/theme/timing.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: add wunderland-sh-site as submodule
  .gitmodules
Due: secretlint --maskSecrets

feat: add discord-bots Linode deployment infrastructure
  .github/workflows/deploy-discord-bots.yml
  deployment/deploy-env.sh
  deployment/rabbithole/discord-bots.env.example
  deployment/rabbithole/docker-compose.discord-bots.yml
  deployment/rabbithole/nginx-rabbithole.conf
Due: secretlint --maskSecrets

fix: add extra_hosts for host.docker.internal on Linux
  deployment/rabbithole/docker-compose.discord-bots.yml
Due: secretlint --maskSecrets
