Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

feat: migrate Discord bots from Python to TypeScript Wunderland agent
  .github/workflows/deploy-discord-bots.yml
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-agent.yml
  deployment/deploy-env.sh
  deployment/rabbithole/docker-compose.discord-bots.yml
  deployment/rabbithole/rabbithole.service
  deployment/rabbithole/wunderland-agent.env.example
  deployment/rabbithole/wunderland-agent.service
  pnpm-workspace.yaml
  rabbithole-ai-agent/agent.config.json
Due: prettier --write, secretlint --maskSecrets

fix: use correct bin entry point in wunderland-agent.service
  deployment/rabbithole/wunderland-agent.service
Due: secretlint --maskSecrets

fix: rebuild better-sqlite3 native bindings in CI deploy
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-agent.yml
Due: secretlint --maskSecrets

fix: add Discord channel extension build to CI deploy
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-agent.yml
Due: secretlint --maskSecrets

fix: add WUNDERBOT_NEWS_TOKEN to env example
  deployment/rabbithole/wunderland-agent.env.example
Due: secretlint --maskSecrets

chore(deps): update workspace dependencies to latest versions
  pnpm-lock.yaml
Due: secretlint --maskSecrets

feat(stats): count wunderland-sol agents, expose public API link
  backend/src/modules/wunderland/wunderland-health.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
