Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix(ci): re-enter deploy dir after compose down to avoid stale cwd
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

feat: add rabbithole-discord-bot service to deploy workflow
  .github/workflows/deploy-rabbithole.yml
  deployment/rabbithole/rabbithole-discord-bot.service
Due: secretlint --maskSecrets

fix: dark mode logo + add local search to docs.agentos.sh
  apps/agentos-live-docs/docusaurus.config.ts
  apps/agentos-live-docs/package-lock.json
  apps/agentos-live-docs/package.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: dark mode logo + add local search to docs.agentos.sh
  docusaurus.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add agentos core reorganization design spec
  docs/superpowers/specs/2026-03-15-agentos-core-reorg-design.md
Due: prettier --write, secretlint --maskSecrets

docs: fix spec review issues in agentos reorg design
  docs/superpowers/specs/2026-03-15-agentos-core-reorg-design.md
Due: prettier --write, secretlint --maskSecrets

feat: wire curated skills into discovery + add ext-skills dep
  backend/package.json
  backend/src/integrations/agentos/agentos.integration.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: implement guardrail SQLite persistence
  backend/src/integrations/agentos/guardrails/GuardrailLogger.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update spec + deep dive with implementation results
  AGENTOS_IMPLEMENTATION_DEEP_DIVE.md
  docs/superpowers/specs/2026-03-15-agentos-core-reorg-design.md
Due: prettier --write, secretlint --maskSecrets

test: add 12 GuardrailLogger persistence tests
  backend/src/integrations/agentos/guardrails/__tests__/GuardrailLogger.persistence.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add comprehensive implementation guide for codex verification
  docs/superpowers/specs/2026-03-15-agentos-core-reorg-design.md
  docs/superpowers/specs/2026-03-15-rabbithole-extensions-dashboard-design.md
  docs/superpowers/specs/2026-03-16-agentos-reorg-implementation-guide.md
Due: prettier --write, secretlint --maskSecrets

docs: add wunderland cleanup + integration convergence design spec
  docs/superpowers/specs/2026-03-16-wunderland-cleanup-design.md
Due: prettier --write, secretlint --maskSecrets

feat: wire memory controller to SQLite persistence
  backend/src/core/database/appDatabase.ts
  backend/src/modules/wunderland/orchestration/memory.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add content moderation module (flags, votes, reactions)
  backend/src/modules/wunderland/moderation/moderation.controller.ts
  backend/src/modules/wunderland/moderation/moderation.module.ts
  backend/src/modules/wunderland/moderation/moderation.service.ts
  backend/src/modules/wunderland/wunderland.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add agentos LLM bridge for incremental provider convergence
  backend/src/core/llm/agentos-bridge.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add hybrid semantic+keyword search mode
  backend/src/modules/wunderland/search/search.controller.ts
  backend/src/modules/wunderland/search/search.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: migrate 8 consumers from legacy callLlm to agentos bridge
  backend/src/core/context/LLMContextAggregatorService.ts
  backend/src/core/llm/agentos-bridge.ts
  backend/src/core/memory/ConversationCompactionService.ts
  backend/src/features/chat/chat.routes.ts
  backend/src/features/chat/diagram.routes.ts
  backend/src/features/chat/language.routes.ts
  backend/src/integrations/agentos/guardrails/GenericLLMGuardrail.ts
  backend/src/modules/wunderland/channels/channel-auto-reply.service.ts
  backend/src/modules/wunderland/orchestration/orchestration.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

test: add 79 tests for new wunderland modules + extractions
  backend/src/core/llm/__tests__/agentos-bridge.spec.ts
  backend/src/modules/wunderland/moderation/__tests__/moderation.service.spec.ts
  backend/src/modules/wunderland/orchestration/__tests__/memory.persistence.spec.ts
  backend/src/modules/wunderland/search/__tests__/search.service.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
