Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh agentos-live-docs — landing page, doc sync
  apps/agentos-live-docs/docs/extensions/built-in/pii-redaction.md
  apps/agentos-live-docs/docs/extensions/overview.md
  apps/agentos-live-docs/docs/features/guardrails.md
  apps/agentos-live-docs/docs/getting-started/documentation-index.md
  apps/agentos-live-docs/docs/index.md
  apps/agentos-live-docs/docs/skills/agentos-skills-registry.md
  apps/agentos-live-docs/src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update agentos-live-docs deps and lockfile
  apps/agentos-live-docs/package.json
  apps/agentos-live-docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, secretlint --maskSecrets

chore: update agentos-live-docs deps and lockfile
  package.json
  tsconfig.json
Due: prettier --write, secretlint --maskSecrets

fix: update browser tab title to 'AgentOS — Open-Source TypeScript AI Agent Runtime'
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: update browser tab title to 'AgentOS — Open-Source TypeScript AI Agent Runtime'
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update submodules — SEO fixes, author emails, remove 'portable'
  docs/architecture/tool-calling-and-loading.md
  docs/features/skills.md
  docs/getting-started/documentation-index.md
  docs/index.md
  docs/skills/agentos-skills.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  sidebars.js
  vendored-docs/packages/agentos-ext-skills/README.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update submodules — SEO fixes, author emails, remove 'portable'
  apps/agentos-live-docs/docs/architecture/tool-calling-and-loading.md
  apps/agentos-live-docs/docs/features/skills.md
  apps/agentos-live-docs/docs/getting-started/documentation-index.md
  apps/agentos-live-docs/docs/index.md
  apps/agentos-live-docs/docs/skills/agentos-skills.md
  apps/agentos-live-docs/docs/skills/overview.md
  apps/agentos-live-docs/docs/skills/skill-format.md
  apps/agentos-live-docs/docs/skills/skills-extension.md
  apps/agentos-live-docs/sidebars.js
  apps/agentos-live-docs/vendored-docs/packages/agentos-ext-skills/README.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(skills): disambiguate agentos-ext-skills from agentos-skills, fix macOS path containment bug
  packages/agentos-ext-skills/README.md
  packages/agentos-ext-skills/examples/enable-skill-and-snapshot.mjs
  packages/agentos-ext-skills/package.json
  packages/agentos-ext-skills/src/index.ts
  packages/agentos-ext-skills/src/tools/skillsEnable.ts
  packages/agentos-ext-skills/test/skills-tools.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: register streaming-tts-openai in pnpm workspace and update submodule ref
  pnpm-workspace.yaml
Due: secretlint --maskSecrets

docs: add voice pipeline architecture and configuration guide
  apps/agentos-live-docs/scripts/pull-docs.mjs
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add voice pipeline architecture and configuration guide
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add Wunderland orchestration integration design spec
  docs/superpowers/specs/2026-03-23-wunderland-orchestration-integration-design.md
Due: prettier --write, secretlint --maskSecrets

docs: add Wunderland orchestration integration implementation plan
  docs/superpowers/plans/2026-03-23-wunderland-orchestration-integration.md
Due: prettier --write, secretlint --maskSecrets

feat: complete voice pipeline initiative — streaming pipeline, provider ecosystem, telephony
  docs/superpowers/plans/2026-03-23-provider-ecosystem.md
  docs/superpowers/plans/2026-03-23-voice-pipeline-streaming.md
  docs/superpowers/plans/2026-03-24-telephony-providers.md
  docs/superpowers/specs/2026-03-23-provider-ecosystem-design.md
  docs/superpowers/specs/2026-03-23-voice-pipeline-streaming-design.md
  docs/superpowers/specs/2026-03-24-telephony-providers-design.md
Due: prettier --write, secretlint --maskSecrets

fix: shorten 'API Reference' to 'API' in navbar to prevent wrapping on small screens
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: shorten 'API Reference' to 'API' in navbar to prevent wrapping on small screens
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: wire speech providers and telephony providers into docs.agentos.sh
  apps/agentos-live-docs/scripts/pull-docs.mjs
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
