Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(frame.dev): comprehensive UI redesign with oceanic themes and new components
  .cursorrules
Due: secretlint --maskSecrets

feat(frontend): add CodeMirror 6 dependencies for markdown editing
  frontend/package.json
  frontend/src/components/agents/catalog/DiaryAgent/DiaryWorkspace.vue
  frontend/src/components/shared/MarkdownEditor/MarkdownEditor.vue
  frontend/src/components/shared/MarkdownEditor/markdownTheme.ts
  frontend/src/components/shared/MarkdownEditor/useCodeMirror.ts
  frontend/src/components/shared/MarkdownEditor/useScrollSync.ts
  packages/codex-viewer/examples/codex-template/public/frame-logo-no-subtitle.svg
  packages/codex-viewer/src/lib/utils.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-viewer): add edit mode and frontmatter display
  packages/codex-viewer/package.json
  packages/codex-viewer/src/components/CodexContent.tsx
  packages/codex-viewer/src/components/CodexEditMode.tsx
  packages/codex-viewer/src/components/FrontmatterDisplay.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(frame.dev): Phase 3 - WYSIWYG, Canvas, Shortcuts, Mobile
  frontend/package.json
  frontend/src/components/agents/catalog/DiaryAgent/DiaryAgentTypes.ts
  frontend/src/components/agents/catalog/DiaryAgent/DiaryWorkspace.vue
  frontend/src/components/shared/CanvasEditor/CanvasEditor.vue
  frontend/src/components/shared/CanvasEditor/TldrawWrapper.tsx
  frontend/src/components/shared/MarkdownEditor/MarkdownEditor.vue
  frontend/src/components/shared/MarkdownEditor/WysiwygEditor.vue
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-viewer): highlights, bookmarks, and unified search system
  packages/codex-viewer/src/hooks/useGroups.ts
  packages/codex-viewer/src/hooks/useHighlights.ts
  packages/codex-viewer/src/hooks/useUnifiedSearch.ts
  packages/codex-viewer/src/lib/constants.ts
  packages/codex-viewer/src/lib/groupGenerator.ts
  packages/codex-viewer/src/lib/highlightConnections.ts
  packages/codex-viewer/src/lib/highlightTypes.ts
  packages/codex-viewer/src/lib/highlightsSchema.ts
  packages/codex-viewer/src/lib/highlightsStorage.ts
  packages/codex-viewer/src/lib/migrationUtils.ts
  packages/codex-viewer/src/lib/types.ts
  packages/codex-viewer/src/ui/BookmarksPanel.tsx
  packages/codex-viewer/src/ui/HighlightCard.tsx
  packages/codex-viewer/src/ui/MigrationPrompt.tsx
  packages/codex-viewer/src/ui/SearchBar.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: markdown-as-source-of-truth attachment system + canvas exports
  frontend/src/components/agents/catalog/DiaryAgent/AttachmentStorage.ts
  frontend/src/components/agents/catalog/DiaryAgent/AttachmentTypes.ts
  frontend/src/components/agents/catalog/DiaryAgent/DiaryAgentTypes.ts
  frontend/src/components/agents/catalog/DiaryAgent/MarkdownEmbedding.ts
  frontend/src/components/shared/CanvasEditor/CanvasEditor.vue
  frontend/src/components/shared/CanvasEditor/TldrawWrapper.tsx
  packages/codex-viewer/src/components/CodexViewer.tsx
  packages/codex-viewer/src/hooks/useCodexHotkeys.ts
  packages/codex-viewer/src/ui/BlockHighlighter.tsx
  packages/codex-viewer/src/ui/GroupManager.tsx
  packages/codex-viewer/src/ui/HighlightSelector.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-viewer): add export functionality and mobile-responsive preferences
  packages/codex-viewer/src/lib/exportUtils.ts
  packages/codex-viewer/src/ui/BookmarksPanel.tsx
  packages/codex-viewer/src/ui/PreferencesModal.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update dependencies for image analysis and fix workspace issues
  apps/fabric-mobile/package.json
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write, secretlint --maskSecrets
