Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(agentos): update submodule with complete landing page redesign
  docs/CODEX_INTERNAL_SPEC.md
  logos/frame-codex.html
  packages/codex-viewer/README.md
  packages/shared/src/planCatalog.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore(pre-commit): staged-only prettier/eslint + secretlint
  .lintstagedrc.json
Due: prettier --write, secretlint --maskSecrets

fix(deps): update stripe from ^13.14.0 to ^19.3.1
  packages/payments-core/package.json
Due: prettier --write, secretlint --maskSecrets

chore: trigger Pages deploy after repo made public
  apps/gitpaywidget/docs/API.md
  apps/gitpaywidget/docs/DNS_SETUP.md
  apps/gitpaywidget/docs/INTEGRATION_GUIDE.md
  packages/gitpaywidget-sdk/README.md
  packages/gitpaywidget-widget/README.md
Due: prettier --write, secretlint --maskSecrets

docs(gitpaywidget): add comprehensive SDK, widget, API, and DNS setup documentation
  package.json
  temp-gitpaywidget/.gitignore
  temp-gitpaywidget/README.md
  temp-gitpaywidget/package.json
  temp-gitpaywidget/packages/gitpaywidget-sdk/README.md
  temp-gitpaywidget/pnpm-workspace.yaml
Due: prettier --write, secretlint --maskSecrets

docs(gitpaywidget): add SDK, widget, API, and DNS setup guides
  apps/gitpaywidget/docs/API.md
  apps/gitpaywidget/docs/DNS_SETUP.md
  apps/gitpaywidget/docs/INTEGRATION_GUIDE.md
  packages/gitpaywidget-sdk/README.md
  packages/gitpaywidget-widget/README.md
Due: prettier --write, secretlint --maskSecrets

chore: add codex-extensions package and update dependency URL
  apps/gitpaywidget/DEPLOYMENT.md
  apps/gitpaywidget/README.md
  apps/gitpaywidget/app/api/init/route.ts
  apps/gitpaywidget/env.example
  apps/gitpaywidget/lib/seedAdmin.ts
  temp-gitpaywidget/.gitignore
  temp-gitpaywidget/README.md
  temp-gitpaywidget/package.json
  temp-gitpaywidget/packages/gitpaywidget-sdk/README.md
  temp-gitpaywidget/pnpm-workspace.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: formatting fixes for admin seeding code
  apps/gitpaywidget/.env.example
Due: secretlint --maskSecrets

feat(gitpaywidget): add comprehensive docs, tests, and fix CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  apps/gitpaywidget/.env.production
  apps/gitpaywidget/DEPLOYMENT.md
  apps/gitpaywidget/app/admin/guides/page.tsx
  apps/gitpaywidget/app/docs/api/page.tsx
  apps/gitpaywidget/app/docs/dns/page.tsx
  apps/gitpaywidget/app/docs/integration/page.tsx
  apps/gitpaywidget/app/docs/page.tsx
  apps/gitpaywidget/app/docs/quickstart/page.tsx
  apps/gitpaywidget/app/docs/theming/page.tsx
  apps/gitpaywidget/package.json
  apps/gitpaywidget/tests/e2e/widget.test.ts
  apps/gitpaywidget/tests/lib/crypto.integration.test.ts
  apps/gitpaywidget/tests/providers/stripe.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(ci): update deploy workflow to pull from main branch for gitpaywidget repo
  .github/workflows/deploy.yml
  .github/workflows/mirror-frame-dev.yml
  docs/REPO_MIRRORING.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/mirror-subtrees.sh
Due: prettier --write, secretlint --maskSecrets

fix(ci): restore frozen-lockfile for faster CI builds
  .github/workflows/ci.yml
Due: secretlint --maskSecrets

fix(ci): use pnpm 10.15.1 to match lockfile v9
  .github/workflows/ci.yml
Due: secretlint --maskSecrets
