Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

chore: update frame.dev with gamification and graph features
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/docs/PLUGIN_UI_UX_DESIGN.md
  packages/codex-extensions/package.json
  packages/codex-extensions/src/react/components/PluginManager.tsx
  packages/codex-extensions/src/react/components/PluginSlot.tsx
  packages/codex-extensions/src/react/components/PluginWindow.tsx
  packages/codex-extensions/src/react/context/CodexAPIContext.tsx
  packages/codex-extensions/src/react/index.ts
  packages/codex-extensions/tsconfig.json
  packages/codex-extensions/tsup.config.ts
  packages/codex-extensions/vitest.config.ts
  wiki/frame/codex-faq.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update implementation progress with new features
  docs/OPENSTRAND_IMPLEMENTATION_PROGRESS.md
Due: prettier --write, secretlint --maskSecrets

fix: update pnpm-lock.yaml with react-arborist and Radix UI dependencies
  pnpm-lock.yaml
Due: secretlint --maskSecrets

feat(codex): implement liquid 3-panel layout and advanced typography system
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/docs/PLUGIN_UI_UX_DESIGN.md
  packages/codex-extensions/src/react/components/PluginManager.tsx
  packages/codex-extensions/src/react/components/PluginSlot.tsx
  packages/codex-extensions/src/react/components/PluginWindow.tsx
  packages/codex-extensions/src/react/context/CodexAPIContext.tsx
  packages/codex-extensions/src/react/index.ts
  packages/codex-extensions/tsconfig.json
  packages/codex-extensions/tsup.config.ts
  packages/codex-extensions/vitest.config.ts
  wiki/frame/codex-faq.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex): implement Digital Vellum design system and Liquid 3-panel layout
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/docs/PLUGIN_UI_UX_DESIGN.md
Due: prettier --write, secretlint --maskSecrets
