Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

feat: Discord CTA card linking wilds.ai/discord on docs homepage
  src/pages/index.tsx
  static/img/wilds-ai-icon.png
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: gitignore docs/superpowers as defense in depth
  .gitignore
Due: secretlint --maskSecrets

feat: Contact navbar link + Contact CTA card on docs homepage
  docusaurus.config.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

publication-ready cleanup: transparency audit, benchmarks index
  blog/2026-04-24-memory-benchmark-transparency-audit.md
  docs/benchmarks/index.md
Due: prettier --write, secretlint --maskSecrets

drop redundant 'matched reader' qualifier across blogs + docs
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
  blog/2026-04-24-memory-benchmark-transparency-audit.md
  blog/2026-04-28-reader-router-pareto-win.md
  docs/benchmarks/index.md
  docs/features/multimodal-rag.md
  docs/features/rag-memory.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

redirects: vs-MiroFish docs URL now resolves to consolidated case-study post
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: rewrite skills-vs-tools-vs-extensions in narrative voice
  docs/architecture/skills-vs-tools-vs-extensions.md
Due: prettier --write, secretlint --maskSecrets

navbar responsive + S benchmark in announcement + inject /en/ locale on agentos.sh URLs
  README.md
  blog/2025-11-10-announcing-agentos.md
  blog/2025-11-15-adaptive-vs-emergent.md
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
  blog/2026-03-24-building-agentos-deep-dive.md
  blog/2026-03-31-cognitive-memory-beyond-rag.md
  blog/2026-04-13-mars-genesis-vs-mirofish-multi-agent-simulation.md
  docs/features/emergent-capabilities.md
  docs/features/mission-api.md
  docs/features/multimodal-rag.md
  docs/features/rag-memory.md
  docs/features/workflow-dsl.md
  docs/getting-started/documentation-index.md
  docs/getting-started/ecosystem.md
  docs/index.md
  docusaurus.config.ts
  src/css/custom.css
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(guardrails): add References section with 7 LLM-safety + content-classification citations
  static-docs/features/guardrails-architecture.md
Due: prettier --write, secretlint --maskSecrets

docs: surface setDefaultProvider() in getting-started credential resolution
  docs/getting-started/index.md
Due: prettier --write, secretlint --maskSecrets

docs: setDefaultProvider() across providers/high-level-api; consolidate reader-router into read-router
  docs/architecture/llm-providers.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs(getting-started): add setDefaultProvider() + full env-var chain to high-level-api
  docs/getting-started/high-level-api.md
Due: prettier --write, secretlint --maskSecrets

docs: clarify Emergence licensing — closed-source SaaS vs Apache-2.0
  docs/benchmarks/index.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs(architecture): add setProviderPriority() override option to llm-providers
  docs/architecture/llm-providers.md
Due: prettier --write, secretlint --maskSecrets

nav: point Paracosm to external paracosm.agentos.sh/docs instead of internal /paracosm
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

blog(transparency-audit): add References section with 25 primary citations
  blog/2026-04-24-memory-benchmark-transparency-audit.md
Due: prettier --write, secretlint --maskSecrets

remove orphaned blog/ source files (blog plugin disabled; canonical blog is agentos.sh/en/blog)
  blog/2025-11-10-announcing-agentos.md
  blog/2025-11-15-adaptive-vs-emergent.md
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
  blog/2026-03-24-building-agentos-deep-dive.md
  blog/2026-03-31-cognitive-memory-beyond-rag.md
  blog/2026-04-10-cognitive-memory-architecture-deep-dive.md
  blog/2026-04-10-memory-archive-rehydration.md
  blog/2026-04-13-mars-genesis-vs-mirofish-multi-agent-simulation.md
  blog/2026-04-24-memory-benchmark-transparency-audit.md
  blog/2026-04-26-agentos-ingest-router-executors.md
  blog/2026-04-26-longmemeval-m-30-to-57.md
  blog/2026-04-26-longmemeval-m-first-published-number.md
  blog/2026-04-26-two-negative-results-stage-l-stage-i.md
  blog/2026-04-27-longmemeval-s-83-with-semantic-embedder.md
  blog/2026-04-28-reader-router-pareto-win.md
  blog/2026-04-29-longmemeval-m-57-with-sem-embed.md
  blog/2026-04-29-longmemeval-m-70-with-topk5.md
  blog/authors.yml
Due: prettier --write, secretlint --maskSecrets

docs(home): align paracosm tagline with agent-swarm + world-modeling positioning
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

add live run demo image to static assets
  static/img/demos/agentos-emergent-demo.png
Due: secretlint --maskSecrets

parallel emergence framing in docs index and benchmarks page
  docs/benchmarks/index.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

lead docs landing with tool generation and specialist spawning
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

raise build heap to 8gb to fix oom in static-site generation
  .github/workflows/deploy.yml
Due: secretlint --maskSecrets

chore(coderabbit): skip internal planning docs to prevent 300-file cap
  .coderabbit.yaml
Due: secretlint --maskSecrets

feat(seo): trim sitemap noise — exclude zod namespace pages, 404, search
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(seo,ux): pretty-print sitemap + scroll navbar logo to top
  docusaurus.config.ts
  package.json
  scripts/inject-sitemap-stylesheet.mjs
  src/logo-scroll-to-top.js
  static/sitemap.xsl
Due: prettier --write, eslint --fix, secretlint --maskSecrets

revert: drop sitemap.xsl stylesheet — sitemap stays raw XML
  package.json
  scripts/inject-sitemap-stylesheet.mjs
  static/sitemap.xsl
Due: prettier --write, secretlint --maskSecrets

fix(test): align publication-contract regex with post-consolidation blog config
  scripts/publication-contract.test.mjs
Due: secretlint --maskSecrets

docs: pull-docs sync — auto-loading walkthrough + changelog refresh
  docs/extensions/auto-loading.md
  docs/getting-started/changelog.md
Due: prettier --write, secretlint --maskSecrets

fix: point homepage Curated Skills card at /skills (was /skills/overview)
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

nav: add Paracosm guide to top-nav Guides dropdown
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(cookbook): correct multi-channel example imports + adapter API
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

docs(benchmarks): add SOTA + transparency CTAs, fix broken blog links
  docs/benchmarks/index.md
Due: prettier --write, secretlint --maskSecrets

docs(ecosystem): refine Paracosm deterministic kernel description
  docs/getting-started/ecosystem.md
Due: prettier --write, secretlint --maskSecrets

chore(deps): bump @docusaurus/* 3.7.0 → 3.10.1
  package-lock.json
  package.json
Due: prettier --write, secretlint --maskSecrets

chore(deps): override dompurify^3.4.2 + serialize-javascript^7.0.5
  package-lock.json
  package.json
Due: prettier --write, secretlint --maskSecrets

chore(gitignore): expand internal-planning patterns from CLAUDE.md
  .gitignore
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
