Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

style(agentos-live-docs): match wunderland visual design system
  docusaurus.config.ts
  src/css/custom.css
  src/pages/index.tsx
  static/img/logo.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: color-cycling radiant logo animations on both docs sites
  static/img/logo.svg
Due: secretlint --maskSecrets

fix: mobile nav overlap on both docs sites — search compact, hamburger separated
  src/css/custom.css
Due: secretlint --maskSecrets

fix: mobile nav layout — hamburger right of search on both docs sites
  src/css/custom.css
Due: secretlint --maskSecrets

fix: architecture dropdown in sidebar, hamburger absolute-right on mobile
  src/css/custom.css
Due: secretlint --maskSecrets

fix: mobile sidebar visibility on both docs sites
  src/css/custom.css
Due: secretlint --maskSecrets

docs: comprehensive blog update — RAG, memory, voice, query router, orchestration, governance
  blog/2026-03-24-building-agentos-deep-dive.md
  blog/authors.yml
Due: prettier --write, secretlint --maskSecrets

fix: restore Docusaurus default hamburger behavior on both docs sites
  src/css/custom.css
Due: secretlint --maskSecrets

feat: navbar dropdown menus for Guides and Architecture on both docs sites
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: logo W path, Guides dropdown with Architecture section on both sites
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: rewrite deep dive blog post — updated architecture, editorial voice
  blog/2026-03-24-building-agentos-deep-dive.md
Due: prettier --write, secretlint --maskSecrets

fix: update all broken social links across monorepo
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: theme toggle showing 3 states on both docs sites
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(agentos-live-docs): repair broken footer link to Feature Guides
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: resolve 88 broken sidebar links — pull-docs generates all pages
  .gitignore
  docs/architecture/tool-calling-and-loading.md
  docs/extensions/built-in/pii-redaction.md
  docs/extensions/extension-architecture.md
  docs/extensions/overview.md
  docs/features/capability-discovery.md
  docs/features/cognitive-memory.md
  docs/features/guardrails.md
  docs/features/query-routing.md
  docs/features/skills.md
  docs/getting-started/documentation-index.md
  docs/skills/agentos-skills-registry.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  package.json
  scripts/pull-docs.mjs
  sidebars.js
  static-docs/extensions/built-in/code-safety.md
  static-docs/extensions/built-in/grounding-guard.md
  static-docs/extensions/built-in/ml-classifiers.md
  static-docs/extensions/built-in/topicality.md
  static-docs/features/guardrails-architecture.md
  static-docs/skills/agentos-skills.md
  static-docs/skills/overview.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add 5 new feature pages and update homepage
  sidebars.js
  src/pages/index.tsx
  static-docs/features/audio-generation.md
  static-docs/features/github-integration.md
  static-docs/features/provider-preferences.md
  static-docs/features/self-improving-agents.md
  static-docs/features/video-pipeline.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add branded 404 page
  src/pages/404.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: update Twitter to @rabbitholewun, add LinkedIn link to manicinc
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update skills pages for 3-tier package restructuring
  static-docs/skills/agentos-skills.md
  static-docs/skills/overview.md
Due: prettier --write, secretlint --maskSecrets

fix: update footer legal links to /legal/privacy and /legal/terms
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add security and cookies links to footer legal section
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add CLI registry and CLI providers pages
  scripts/pull-docs.mjs
Due: secretlint --maskSecrets

docs: add 5 sub-architecture pages (sandbox, CLI, permissions, extensions, skills)
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(docs): update skills count (40→69), fix vendored package descriptions
  vendored-docs/packages/agentos-ext-skills/README.md
  vendored-docs/packages/agentos-skills-registry/README.md
Due: prettier --write, secretlint --maskSecrets

fix: resolve /getting-started/getting-started 404 — rename to index.md
  docusaurus.config.ts
  scripts/pull-docs.mjs
  sidebars.js
  src/pages/404.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: remove CI badges from homepage
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add document export feature guide with API reference
  sidebars.js
  static-docs/features/document-export.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: resolve broken pull-docs script — all pages now have real content
  scripts/pull-docs.mjs
Due: secretlint --maskSecrets

feat(docs): add CI, tests, codecov badges to landing page
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

feat(docs): rewrite ecosystem page with comprehensive Mermaid architecture diagram
  docs/getting-started/ecosystem.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): remove leaked internal notes from system architecture page
  docs/architecture/system-architecture.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): strip changelog language from system architecture — present tense only
  docs/architecture/system-architecture.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): consolidate sidebar — remove duplicates, flatten hierarchy
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(docs): Mermaid architecture diagram + 3 new agent/agency examples
  docs/architecture/system-architecture.md
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

feat(docs): add Mermaid architecture diagram to docs home page
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): fix all broken feature card links on home page
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add query router feature page with platform knowledge and recommendations
  static-docs/features/query-routing.md
Due: prettier --write, secretlint --maskSecrets

fix: add 8 missing extension pages to sidebar, organize into subcategories
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Website link + GitHub icon to navbar
  docusaurus.config.ts
  src/css/custom.css
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: inline GitHub icon in navbar + star/npm/license badges in hero
  src/css/custom.css
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
