Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

docs: wire speech providers and telephony providers into docs.agentos.sh
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update extensions overview with 13 voice extension packs
  apps/agentos-live-docs/docs/extensions/overview.md
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update extensions overview with 13 voice extension packs
  docs/extensions/overview.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update submodules — voice pipeline docs cleanup, telephony guides, doctor voice checks
  apps/agentos-live-docs/docs/extensions/overview.md
Due: prettier --write, secretlint --maskSecrets

chore: update submodules — voice pipeline docs cleanup, telephony guides, doctor voice checks
  docs/extensions/overview.md
Due: prettier --write, secretlint --maskSecrets

feat: add blog post(s) consolidated from agentos.sh
  blog/2025-11-10-announcing-agentos.md
  blog/2025-11-15-adaptive-vs-emergent.md
  blog/authors.yml
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add blog post(s) consolidated from agentos.sh
  apps/agentos-live-docs/blog/2025-11-10-announcing-agentos.md
  apps/agentos-live-docs/blog/2025-11-15-adaptive-vs-emergent.md
  apps/agentos-live-docs/blog/authors.yml
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add Voice & IVR quick link card to homepage
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

feat(docs): rebuild landing page with badges, install tabs, quick start
  docusaurus.config.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(blog): add architecture deep dive blog post
  blog/2026-03-24-building-agentos-deep-dive.md
Due: prettier --write, secretlint --maskSecrets

docs(agentos-live-docs): add missing doc mappings, fix index.md links
  docs/features/capability-discovery.md
  docs/features/cognitive-memory.md
  docs/index.md
  docusaurus.config.ts
  scripts/pull-docs.mjs
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add headTags, fix Discord link, add sitemap + structured data
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(docs): add Mermaid architecture diagram to homepage, fix voice pipeline link
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(docs): fix Guides nav active state on homepage, update agentos submodule
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(docs): rewrite homepage — flat Mermaid diagram, updated feature cards
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(docs): rewrite homepage quick start + feature cards for full showcase
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add agency graph strategy across all docs sites
  docs/index.md
  scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

fix(docs): clean up navbar — rename to Docs, compact search, remove clutter
  docusaurus.config.ts
  src/css/custom.css
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add search-manifest plugin — generates lightweight search-docs.json (61KB)
  docusaurus.config.ts
  plugins/search-manifest.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: mobile navbar sidebar — visible background, text colors, and link states
  src/css/custom.css
Due: secretlint --maskSecrets

chore: update docs sites — mobile navbar sidebar fixes
  docs/getting-started/documentation-index.md
Due: prettier --write, secretlint --maskSecrets

fix: explicit footer text/link/title colors for dark and light modes
  src/css/custom.css
Due: secretlint --maskSecrets

docs: add 6 memory system guide pages to live docs site
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: wire new feature guides into docs site navigation
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: animated logo, for-the-badge badges, hero luminescence matching wunderland style
  src/css/custom.css
  src/pages/index.tsx
  static/img/logo.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add QueryRouter feature guide
  docs/features/query-routing.md
Due: prettier --write, secretlint --maskSecrets

chore: update copyright to Manic Agency LLC
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update monorepo for vector storage scaling system (7 backends)
  scripts/pull-docs.mjs
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: simplify skills architecture to 2 packages, remove ext-skills references
  docs/features/skills.md
  docs/skills/overview.md
  docs/skills/skill-format.md
  docs/skills/skills-extension.md
  scripts/pull-docs.mjs
Due: prettier --write, secretlint --maskSecrets

fix: replace orbital rotation with ambient glow breathing animation
  blog/2026-03-24-building-agentos-deep-dive.md
  docs/features/capability-discovery.md
  docs/features/cognitive-memory.md
  docs/getting-started/documentation-index.md
  docs/index.md
  docs/skills/agentos-skills-registry.md
  package-lock.json
  package.json
  plugins/search-manifest.js
  static/img/logo.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
