Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(codex-extensions): initialize plugin and theme registry package
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/tsconfig.json
  packages/codex-extensions/tsup.config.ts
  packages/codex-extensions/vitest.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-extensions): add core plugin system
  packages/codex-extensions/src/index.ts
  packages/codex-extensions/src/loader/index.ts
  packages/codex-extensions/src/manager/PluginManager.ts
  packages/codex-extensions/src/manager/index.ts
  packages/codex-extensions/src/security/SecurityScanner.ts
  packages/codex-extensions/src/security/index.ts
  packages/codex-extensions/src/themes/ThemeBuilder.ts
  packages/codex-extensions/src/themes/index.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-extensions): add plugin and theme templates
  packages/codex-extensions/templates/codex-tool/README.md
  packages/codex-extensions/templates/codex-tool/manifest.json
  packages/codex-extensions/templates/codex-tool/package.json
  packages/codex-extensions/templates/codex-tool/src/index.ts
  packages/codex-extensions/templates/codex-tool/tsconfig.json
  packages/codex-extensions/templates/theme/README.md
  packages/codex-extensions/templates/theme/manifest.json
  packages/codex-extensions/templates/theme/theme.json
  packages/codex-extensions/templates/viewer-ui/README.md
  packages/codex-extensions/templates/viewer-ui/manifest.json
  packages/codex-extensions/templates/viewer-ui/package.json
  packages/codex-extensions/templates/viewer-ui/src/index.tsx
  packages/codex-extensions/templates/viewer-ui/tsconfig.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

test(codex-extensions): add unit tests for PluginLoader and ThemeBuilder
  packages/codex-extensions/tests/PluginLoader.test.ts
  packages/codex-extensions/tests/ThemeBuilder.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore(codex-extensions): add linting and release configuration
  packages/codex-extensions/.eslintrc.json
  packages/codex-extensions/.prettierrc
  packages/codex-extensions/commitlint.config.js
  packages/codex-extensions/release.config.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

ci(codex-extensions): add CI/CD and security configuration
  packages/codex-extensions/.github/workflows/ci.yml
  packages/codex-extensions/.github/workflows/security.yml
  packages/codex-extensions/.gitignore
  packages/codex-extensions/.gitleaks.toml
Due: secretlint --maskSecrets

feat frame.dev: fabric graph view and interactive relation visualization
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/tsconfig.json
  packages/codex-extensions/tsup.config.ts
  packages/codex-extensions/vitest.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex-extensions): add VST-inspired plugin UI/UX system
  packages/codex-extensions/docs/PLUGIN_UI_UX_DESIGN.md
  packages/codex-extensions/src/react/components/PluginManager.tsx
  packages/codex-extensions/src/react/components/PluginSlot.tsx
  packages/codex-extensions/src/react/components/PluginWindow.tsx
  packages/codex-extensions/src/react/context/CodexAPIContext.tsx
  packages/codex-extensions/src/react/index.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update README and templates with v2.0 features
  packages/codex-viewer/README.md
  packages/codex-viewer/examples/codex-template/README.md
  packages/codex-viewer/examples/codex-template/weaves/openstrand/schema/hierarchy.md
Due: prettier --write, secretlint --maskSecrets

docs: remove version numbering from feature documentation
  packages/codex-viewer/README.md
  packages/codex-viewer/examples/codex-template/README.md
Due: prettier --write, secretlint --maskSecrets

chore: update submodules and codex-extensions package
  packages/codex-extensions/LICENSE
  packages/codex-extensions/README.md
  packages/codex-extensions/docs/PLUGIN_UI_UX_DESIGN.md
  packages/codex-extensions/src/react/components/PluginManager.tsx
  packages/codex-extensions/src/react/components/PluginSlot.tsx
  packages/codex-extensions/src/react/components/PluginWindow.tsx
  packages/codex-extensions/src/react/context/CodexAPIContext.tsx
  packages/codex-extensions/src/react/index.ts
  packages/codex-extensions/tsconfig.json
  packages/codex-extensions/tsup.config.ts
  packages/codex-extensions/vitest.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets
