Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

docs(citation-verification): voice rewrite of lead - Deming epigraph + concrete failure modes; collapse 'Why Citation Verification?' header into the lead
  docs/features/citation-verification.md
Due: prettier --write, secretlint --maskSecrets

seo: add meta descriptions + keywords frontmatter to homepage, deep-research, citation-verification
  docs/features/citation-verification.md
  docs/features/deep-research.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): repair stale links to deleted pages in tracked docs-site copies
  docs/architecture/system-architecture.md
  docs/features/cognitive-memory.md
  docs/getting-started/documentation-index.md
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

docs+css: guardrails-architecture voice rewrite + branded search dropdown styling
  docs/features/agency-api.md
  docs/features/guardrails-architecture.md
  src/css/custom.css
  static-docs/features/guardrails-architecture.md
Due: prettier --write, secretlint --maskSecrets

docs(citation-verification): rewrite example with non-redundant sources
  docs/features/citation-verification.md
Due: prettier --write, secretlint --maskSecrets

fix(search): punchy on-brand match highlight (white on indigo gradient)
  src/css/custom.css
Due: secretlint --maskSecrets

fix(sidebar): brighter readable caret in dark mode (indigo chevron SVG)
  src/css/custom.css
Due: secretlint --maskSecrets

docs+config: refresh mirror w/ sql-storage rewrite + breadcrumb fix; add cognitive-memory/mechanisms alias redirects
  docs/features/query-routing.md
  docs/features/sql-storage.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore(docs): refresh mirror — voice cleanup (drop fabricated first-person + epigraphs from 14 technical docs)
  docs/architecture/system-architecture.md
  docs/features/agency-api.md
  docs/features/agent-communication.md
  docs/features/citation-verification.md
  docs/features/cognitive-memory.md
  docs/features/emergent-capabilities.md
  docs/features/guardrails-architecture.md
  docs/features/planning-engine.md
  docs/features/safety-primitives.md
  docs/features/sql-storage.md
  docs/index.md
  static-docs/features/guardrails-architecture.md
Due: prettier --write, secretlint --maskSecrets

docs: refresh mirror after memory consolidation; add 6 redirects for deleted memory slugs
  docs/architecture/system-architecture.md
  docs/features/cognitive-memory.md
  docs/features/memory-architecture.md
  docs/features/memory-import-export.md
  docs/features/memory-scaling.md
  docs/features/memory-tools.md
  docs/features/sql-storage.md
  docs/getting-started/examples.md
  docs/getting-started/index.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: RAG section consolidation 7→05 - refresh mirror, add 3 redirects, drop deep-research+reranker-chain mirrors
  docs/architecture/http-streaming-api.md
  docs/features/citation-verification.md
  docs/features/deep-research.md
  docs/features/rag-memory.md
  docs/features/reranker-chain.md
  docs/getting-started/changelog.md
  docs/index.md
  docusaurus.config.ts
  vendored-docs/packages/agentos/docs/DEEP_RESEARCH.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(ci): patch hardcoded slug refs to deleted memory-scaling + deep-research pages — navbar dropdown + homepage card
  docusaurus.config.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh mirror after sidebar section renames
  docs/features/citation-verification.md
  docs/getting-started/changelog.md
Due: prettier --write, secretlint --maskSecrets

docs(skills): refresh mirror with hyperlinked filenames
  docs/skills/agentos-skills-registry.md
  docs/skills/agentos-skills.md
  docs/skills/skill-format.md
Due: prettier --write, secretlint --maskSecrets

docs(landing): rewrite /documentation intro — drop strawman 'most agent libraries' framing; lead with what AgentOS is, then benchmarks
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs: refresh mirror — strawman openers scrubbed
  docs/features/cognitive-memory.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): dark-mode Mermaid sequence-diagram labels/lines + transparent favicons (16x16 was RGB without alpha)
  src/css/custom.css
  static/img/favicon-16x16.png
  static/img/favicon-32x32.png
  static/img/favicon.ico
Due: secretlint --maskSecrets

docs: refresh mirror + linkify guardrails-architecture file refs to GitHub
  docs/architecture/llm-providers.md
  docs/architecture/system-architecture.md
  docs/features/citation-verification.md
  docs/features/guardrails-architecture.md
  docs/features/query-routing.md
  docs/features/rag-memory.md
  docs/getting-started/examples.md
  docs/getting-started/high-level-api.md
  static-docs/features/guardrails-architecture.md
Due: prettier --write, secretlint --maskSecrets

design(og): regenerate OG image — transparent logo + wordmark on cosmic gradient (no opaque rectangles)
  static/img/og-image.png
Due: secretlint --maskSecrets

fix(og): rename og-image.png to og-image-v2.png to bust Discord/Cloudflare cache after transparent-logo redesign
  docusaurus.config.ts
  static/img/og-image-v2.png
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh mirror with corrected Ex3/Ex6/Ex16 + others
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

docs: refresh Ex16 fix from agentos
  docs/getting-started/changelog.md
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

fix(mermaid+nav): dark-mode contrast on flowcharts with hardcoded classDef fills + white default node rects + foreignObject labels; add HITL to navbar Guides dropdown
  docusaurus.config.ts
  src/css/custom.css
  src/mermaid-theme.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: adaptive prompt intelligence guide + nav entry + svg
  docs/architecture/system-architecture.md
  docs/features/adaptive-prompt-intelligence.md
  docs/features/emergent-capabilities.md
  docusaurus.config.ts
  static/img/diagrams/adaptive-intelligence.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: fix HITL SVG overflow in lane 3 + persistent zoom hint badge
  src/mermaid-zoom.js
  static/img/diagrams/human-in-the-loop.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: match webpack-rewritten /assets/images/*.svg paths
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: align zoom-modal theme with Docusaurus, inline SVG for color-scheme parity
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

diagrams: replace &nbsp; with &#160; in adaptive-intelligence SVG
  static/img/diagrams/adaptive-intelligence.svg
Due: secretlint --maskSecrets

docs(pii-redaction): mirror + Guides dropdown entry
  docs/features/pii-redaction.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(pii-redaction): refresh mirror with corrected provenance link
  docs/features/pii-redaction.md
Due: prettier --write, secretlint --maskSecrets

docs(citation-verification): inline GitHub source links + Source files table
  docs/features/citation-verification.md
Due: prettier --write, secretlint --maskSecrets

docs(multimodal-rag): refresh mirror with inline GitHub source links
  docs/features/multimodal-rag.md
Due: prettier --write, secretlint --maskSecrets

docs(working-memory): refresh mirror with source links + MemoryPromptAssembler rename
  docs/features/working-memory.md
Due: prettier --write, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
