Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

docs(wunderland): add Wunderland getting-started guide (preview)
  docs/wunderland/index.md
Due: prettier --write, secretlint --maskSecrets

fix(wunderland): link Memory System Overview at /features/memory-system-overview
  docs/wunderland/index.md
Due: prettier --write, secretlint --maskSecrets

feat(landing): build-time GitHub stars fetch with PAT, static badge
  .github/workflows/deploy.yml
  docusaurus.config.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(config): export async buildConfig() instead of top-level await
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

ci: rebuild after agentos@e81a05e5 (HEXACO personality guide)
  .gitignore
Due: secretlint --maskSecrets

feat(navbar): promote HEXACO Personality into Guides dropdown
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(diagrams): add SVG diagrams for HEXACO personality and cognitive memory architecture
  static/img/diagrams/cognitive-memory-architecture.svg
  static/img/diagrams/hexaco-encoding-weights.svg
  static/img/diagrams/hexaco-propagation.svg
  static/img/diagrams/hexaco-radar.svg
Due: secretlint --maskSecrets

feat(diagrams): add Paracosm SVGs (world-model split, turn flow, two-leader divergence)
  static/img/diagrams/paracosm-divergence.svg
  static/img/diagrams/paracosm-turn-flow.svg
  static/img/diagrams/paracosm-world-model-split.svg
Due: secretlint --maskSecrets

docs: brand feature leads as AgentOS; integrate citation verification with deep research
  docs/architecture/chat-server.md
  docs/architecture/tools.md
  docs/features/browser-automation.md
  docs/features/citation-verification.md
  docs/features/deep-research.md
Due: prettier --write, secretlint --maskSecrets

docs: stub deprecated citation-verifier extension; point to first-class feature page
  docs/extensions/built-in/citation-verifier.md
Due: prettier --write, secretlint --maskSecrets

feat(diagrams): brand-themed Mermaid via CSS-var post-processing for light/dark parity
  docusaurus.config.ts
  src/css/custom.css
  src/mermaid-theme.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): paracosm world-model-split overlapping code text
  static/img/diagrams/paracosm-world-model-split.svg
Due: secretlint --maskSecrets

feat(diagrams): make hero <img src=*.svg> click-to-zoom alongside Mermaid blocks
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): hexaco-propagation card overflow + encoding-weights label clutter
  static/img/diagrams/hexaco-encoding-weights.svg
  static/img/diagrams/hexaco-propagation.svg
Due: secretlint --maskSecrets

fix(diagrams): match data:image/svg+xml URIs (Docusaurus inlines small SVGs at build time)
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(diagrams): default modal zoom 100% instead of 150%
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(diagrams): system-architecture layered hero SVG; replace ASCII stack
  docs/architecture/system-architecture.md
  static/img/diagrams/system-architecture-layers.svg
Due: prettier --write, secretlint --maskSecrets

feat(diagrams): memory-system-overview hero SVG asset
  static/img/diagrams/memory-system-overview.svg
Due: secretlint --maskSecrets

redirect old blog URL to /features/cognitive-memory; update benchmarks reference
  docs/benchmarks/index.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(diagrams): emergent-capabilities forge-loop hero SVG asset
  static/img/diagrams/emergent-capabilities-forge-loop.svg
Due: secretlint --maskSecrets

feat(diagrams): memory-architecture three-tier hero SVG; replace ASCII stack
  docs/features/memory-architecture.md
  static/img/diagrams/memory-architecture-layers.svg
Due: prettier --write, secretlint --maskSecrets

docs(recursive-self-building): convert ASCII loop to themed Mermaid
  docs/features/recursive-self-building.md
Due: prettier --write, secretlint --maskSecrets

feat(diagrams): agent-communication-bus hero SVG; replace ASCII three-layer stack
  docs/features/agent-communication.md
  static/img/diagrams/agent-communication-bus.svg
Due: prettier --write, secretlint --maskSecrets

feat(diagrams): planning-engine hero SVG; replace ASCII two-tier stack
  docs/features/planning-engine.md
  static/img/diagrams/planning-engine.svg
Due: prettier --write, secretlint --maskSecrets

docs(telephony): convert ASCII media-stream pipeline to themed Mermaid
  docs/features/telephony-providers.md
Due: prettier --write, secretlint --maskSecrets

docs(memory): convert ingest pipeline to themed Mermaid; flatten 12-table grid to a clean table
  docs/features/memory-document-ingestion.md
  docs/features/memory-storage.md
Due: prettier --write, secretlint --maskSecrets

docs: ecosystem stack to themed Mermaid; homepage reuses memory-system-overview hero SVG
  docs/getting-started/ecosystem.md
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix(diagrams): zoom modal canvas matches prefers-color-scheme so SVG bg never goes transparent
  src/mermaid-zoom.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(diagrams): GMI architecture hero SVG asset; convert capability-discovery ASCII to themed Mermaid
  docs/features/capability-discovery.md
  static/img/diagrams/gmi-architecture.svg
Due: prettier --write, secretlint --maskSecrets

feat(diagrams): rebuild GMI hero SVG as 7-layer concentric rings (matches agentos.sh marketing diagram detail)
  static/img/diagrams/gmi-architecture.svg
Due: secretlint --maskSecrets

docs: delete sidebar-hidden noise pages (emergent-agency-system, multi-gmi-implementation-plan); redirect to canonical pages
  docs/architecture/emergent-agency-system.md
  docs/architecture/multi-gmi-implementation-plan.md
  docusaurus.config.ts
  vendored-docs/docs/EMERGENT_AGENCY_SYSTEM.md
  vendored-docs/docs/MULTI_GMI_COLLABORATION.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: redirect /features/cognitive-memory-guide to /features/cognitive-memory; remove stale tracked copy
  docs/features/cognitive-memory-guide.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(homepage): voice rewrite - tighter lead, dropped feature-dump nav, kept benchmarks + memory pipeline
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs(homepage): replace strawman lead with Carroll epigraph + cog-sci narrative; honest framing of what's distinctive (mechanisms, not 'we have memory')
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs(deep-research): voice rewrite of lead - Twain epigraph + concrete failure-mode framing; fix Wunderland regression to AgentOS
  docs/features/deep-research.md
Due: prettier --write, secretlint --maskSecrets
