Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

fix: backfill wunderbots.sealed_at migration + add email intelligence docs
  backend/src/core/database/appDatabase.ts
  docs/superpowers/plans/2026-03-19-email-intelligence-1-prerequisites.md
  docs/superpowers/plans/2026-03-19-email-intelligence-2-backend-core.md
  docs/superpowers/plans/2026-03-19-email-intelligence-plan-overview.md
  docs/superpowers/plans/2026-03-20-email-intelligence-3-intelligence-layer.md
  docs/superpowers/plans/2026-03-20-email-intelligence-4-reports-digests.md
  docs/superpowers/plans/2026-03-20-email-intelligence-5-extension-pack.md
  docs/superpowers/plans/2026-03-20-email-intelligence-6-dashboard-ui.md
  docs/superpowers/specs/2026-03-19-email-intelligence-assistant-design.md
  docs/superpowers/specs/2026-03-20-email-intelligence-implementation-summary.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add ML classifier guardrail implementation plan
  docs/superpowers/plans/2026-03-20-ml-classifier-guardrail.md
Due: prettier --write, secretlint --maskSecrets

fix: add email_digest/email_retention cron kinds + registry entries
  backend/src/modules/wunderland/dto/cron.dto.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: resolve test failures in gmail-oauth and module spec
  backend/src/modules/wunderland/email-intelligence/__tests__/email-intelligence-module.spec.ts
  backend/src/modules/wunderland/email-intelligence/__tests__/gmail-oauth.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: test cleanup for email intelligence oauth + module spec
  backend/db_data/app.sqlite3
  backend/src/modules/wunderland/orchestration/__tests__/memory.health.spec.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update pnpm-lock.yaml + reset agentos-extensions submodule ref
  pnpm-lock.yaml
Due: secretlint --maskSecrets

docs: add guardrail dispatcher parallel execution upgrade spec
  docs/superpowers/specs/2026-03-20-guardrail-dispatcher-parallel-design.md
Due: prettier --write, secretlint --maskSecrets

docs: fix guardrail dispatcher parallel spec review issues
  docs/superpowers/specs/2026-03-20-guardrail-dispatcher-parallel-design.md
Due: prettier --write, secretlint --maskSecrets

docs: add guardrail dispatcher parallel execution implementation plan
  docs/superpowers/plans/2026-03-20-guardrail-dispatcher-parallel.md
Due: prettier --write, secretlint --maskSecrets

fix: Gmail OAuth falls back to AUTH_GOOGLE_ID/SECRET env vars
  backend/src/modules/wunderland/channels/channel-oauth.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add topicality guardrail extension design specification
  docs/superpowers/specs/2026-03-20-topicality-guardrail-design.md
Due: prettier --write, secretlint --maskSecrets

docs: fix topicality guardrail spec review issues
  docs/superpowers/specs/2026-03-20-topicality-guardrail-design.md
Due: prettier --write, secretlint --maskSecrets

docs: add topicality guardrail implementation plan
  docs/superpowers/plans/2026-03-20-topicality-guardrail.md
Due: prettier --write, secretlint --maskSecrets

docs: add code safety scanner extension design specification
  docs/superpowers/specs/2026-03-21-code-safety-scanner-design.md
Due: prettier --write, secretlint --maskSecrets

docs: fix code safety scanner spec review issues
  docs/superpowers/specs/2026-03-21-code-safety-scanner-design.md
Due: prettier --write, secretlint --maskSecrets

docs: add code safety scanner implementation plan
  docs/superpowers/plans/2026-03-21-code-safety-scanner.md
Due: prettier --write, secretlint --maskSecrets

docs: add channel wiring spec (WhatsApp + Slack + Signal)
  docs/superpowers/specs/2026-03-21-channel-wiring-design.md
Due: prettier --write, secretlint --maskSecrets

feat: add WhatsApp inbound webhook + auto-reply (Twilio + Meta Cloud API)
  backend/src/modules/wunderland/channels/channel-auto-reply.service.ts
  backend/src/modules/wunderland/channels/channel-inbound.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add Signal inbound webhook + auto-reply via signal-cli
  backend/src/modules/wunderland/channels/channel-auto-reply.service.ts
  backend/src/modules/wunderland/channels/channel-inbound.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets
