Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

docs(agency): sync Mental Model section from canonical agentos
  docs/features/agency-api.md
Due: prettier --write, secretlint --maskSecrets

nav(guides): add Agency API entry to Guides dropdown
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(quick-start): add Agency tab between HEXACO Agent and Streaming
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(examples): sync Agency with Shared Memory + RAG example from canonical
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

docs(api): group Core symbols above kind buckets via @category
  docs/features/safety-primitives.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh examples to lead with explicit provider + model
  docs/api/classes/QueryGenerator.md
  docs/api/functions/agent.md
  docs/api/functions/embedText.md
  docs/api/functions/generateImage.md
  docs/api/functions/generateObject.md
  docs/api/functions/generateText.md
  docs/api/functions/streamObject.md
  docs/api/functions/streamText.md
  docs/api/interfaces/AgencyOptions.md
  docs/api/interfaces/EmbedTextOptions.md
  docs/api/interfaces/EmbedTextResult.md
  docs/architecture/system-architecture.md
  docs/features/agency-api.md
  docs/features/citation-verification.md
  docs/getting-started/examples.md
Due: prettier --write, secretlint --maskSecrets

fix(seo): differentiate docs title from marketing site
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(mermaid): dark-mode race + Mermaid 11 default hex coverage
  src/css/custom.css
  src/mermaid-theme.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

rotate Discord invite and route hardcoded URLs through wilds.ai/discord
  docs/getting-started/ecosystem.md
  docs/wunderland/index.md
  docusaurus.config.ts
  static/llms.txt
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs(emergent): animate forge demo on emergent-capabilities
  docs/features/emergent-capabilities.md
  static/img/demos/agentos-forge-demo.webp
Due: prettier --write, secretlint --maskSecrets

docs: sync provider statuses, changelog, and feature page updates
  docs/extensions/built-in/anchor-providers.md
  docs/features/agency-api.md
  docs/features/multimodal-rag.md
  docs/features/safety-primitives.md
  docs/features/working-memory.md
  docs/getting-started/changelog.md
  docs/skills/agentos-skills-registry.md
Due: prettier --write, secretlint --maskSecrets

feat(landing): animate forge demo above install tabs
  src/pages/index.tsx
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: correct license references to Apache-2.0
  docs/extensions/built-in/anchor-providers.md
  docs/extensions/built-in/auth.md
  docs/extensions/built-in/citation-verifier.md
  docs/extensions/built-in/cli-executor.md
  docs/extensions/built-in/content-policy-rewriter.md
  docs/extensions/built-in/giphy.md
  docs/extensions/built-in/image-search.md
  docs/extensions/built-in/local-file-search.md
  docs/extensions/built-in/news-search.md
  docs/extensions/built-in/send-file-to-channel.md
  docs/extensions/built-in/telegram.md
  docs/extensions/built-in/trulia-search.md
  docs/extensions/built-in/voice-synthesis.md
  docs/extensions/built-in/web-browser.md
  docs/extensions/built-in/web-search.md
  docs/extensions/built-in/zip-files.md
  docs/extensions/contributing.md
  docs/extensions/extension-standards.md
  docs/features/creating-guardrails.md
  docs/wunderland/index.md
Due: prettier --write, secretlint --maskSecrets

Correct LLM provider count to 11 in docs and diagrams
  docs/index.md
  docusaurus.config.ts
  src/pages/index.tsx
  static/img/diagrams/cognitive-memory-architecture-dark.svg
  static/img/diagrams/cognitive-memory-architecture.svg
  static/img/diagrams/gmi-architecture-dark.svg
  static/img/diagrams/gmi-architecture.svg
  static/img/diagrams/system-architecture-dark.svg
  static/img/diagrams/system-architecture.svg
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(docs): drop retired /skills/skills-extension + /skills/agentos-skills redirects
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

build(docs): add inject-noindex plugin required by the sitemap/noindex config
  plugins/inject-noindex.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update footer attribution to Frame; copyright to Framers Lab, Inc.
  README.md
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

perf(docs): forge demo MP4 video + fonts off render-blocking @import
  src/css/custom.css
  src/pages/index.tsx
  static/img/demos/agentos-forge-demo.mp4
Due: prettier --write, eslint --fix, secretlint --maskSecrets

cleanup
  docs/index.md
  docusaurus.config.ts
  scripts/publication-contract.test.mjs
  scripts/pull-docs-links.test.mjs
  static-docs/features/github-integration.md
  static/llms.txt
Due: prettier --write, eslint --fix, secretlint --maskSecrets

cleanup
  static/llms.txt
Due: secretlint --maskSecrets

cleanup
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
