Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: drawer covers full viewport (inset:0), slides down from top, opaque background
  src/theme/Navbar/MobileSidebar/styles.module.css
Due: secretlint --maskSecrets

fix: z-index 10000 on drawer to ensure it renders above everything
  src/theme/Navbar/MobileSidebar/styles.module.css
Due: secretlint --maskSecrets

fix: mobile hamburger drawer — full height, visible links, proper styling
  src/css/custom.css
Due: secretlint --maskSecrets

fix: target Docusaurus drawer CSS module classes for mobile menu — full height + visible links
  src/css/custom.css
Due: secretlint --maskSecrets

fix: prevent horizontal scroll on all pages
  src/css/custom.css
Due: secretlint --maskSecrets

blog: cognitive memory beyond RAG — 12 citations, 8 mechanisms
  blog/2026-03-31-cognitive-memory-beyond-rag.md
Due: prettier --write, secretlint --maskSecrets

docs: add cognitive memory completion + LLM validation layer docs
  docs/features/cognitive-memory.md
  docs/features/llm-output-validation.md
Due: prettier --write, secretlint --maskSecrets

docs: add SqliteBrain persistence, HyDE retriever, and neural reranking sections
  docs/features/cognitive-memory-guide.md
  docs/features/cognitive-memory.md
Due: prettier --write, secretlint --maskSecrets

docs: update cognitive memory blog, guide, and reranker docs with v0.1.182 features
  blog/2026-03-31-cognitive-memory-beyond-rag.md
  docs/features/cognitive-memory.md
  docs/features/reranker-chain.md
Due: prettier --write, secretlint --maskSecrets

fix: update Discord link to wilds.ai server
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add llms.txt, Schema.org sameAs/knowsAbout, unify Discord + company links
  docs/getting-started/high-level-api.md
  docs/getting-started/index.md
  docusaurus.config.ts
  static/llms.txt
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(blog): add AgentOS vs LangGraph vs CrewAI vs Mastra comparison post
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
Due: prettier --write, secretlint --maskSecrets

fix: update comparison blog URL to dated Docusaurus path
  static/llms.txt
Due: secretlint --maskSecrets

blog: Memory Archive — lossless cold storage for long-running agents
  blog/2026-04-10-memory-archive-rehydration.md
Due: prettier --write, secretlint --maskSecrets

blog: The Complete AgentOS Cognitive Memory Architecture — deep technical walkthrough
  blog/2026-04-10-cognitive-memory-architecture-deep-dive.md
Due: prettier --write, secretlint --maskSecrets

fix: add ICO and PNG favicons for Google Search Console indexing
  docusaurus.config.ts
  static/img/favicon-16x16.png
  static/img/favicon-32x32.png
  static/img/favicon.ico
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: update model names and document slash-format support
  docs/api/interfaces/ModelOption.md
  docs/architecture/llm-providers.md
  docs/features/cost-optimization.md
  docs/features/emergent-capabilities.md
  docs/features/evaluation-framework.md
  docs/features/planning-engine.md
Due: prettier --write, secretlint --maskSecrets

chore: update Discord invite link
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
  docs/getting-started/ecosystem.md
  docusaurus.config.ts
  static/llms.txt
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: Mars Genesis vs MiroFish comparative blog post with screenshots
  blog/2026-04-13-mars-genesis-vs-mirofish-multi-agent-simulation.md
  static/img/blog/mars-genesis-about.png
  static/img/blog/mars-genesis-colonist-reactions.png
  static/img/blog/mars-genesis-debug-log.png
  static/img/blog/mars-genesis-reports.png
  static/img/blog/mars-genesis-settings.png
  static/img/blog/mars-genesis-simulation-dashboard.png
Due: prettier --write, secretlint --maskSecrets

docs: add footer with AgentOS + Frame.dev logos, team@frame.dev
  README.md
Due: prettier --write, secretlint --maskSecrets

feat: add Paracosm API docs via typedoc plugin at /paracosm/
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: Skills vs Tools vs Extensions decision guide
  docs/architecture/skills-vs-tools-vs-extensions.md
  docs/superpowers/specs/2026-04-14-skills-vs-tools-vs-extensions-design.md
Due: prettier --write, secretlint --maskSecrets

feat: add Paracosm CTA banner to docs landing page
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

feat: add Paracosm CTA to getting-started and ecosystem pages
  docs/getting-started/ecosystem.md
  docs/getting-started/index.md
Due: prettier --write, secretlint --maskSecrets

feat: add Discord community CTA banner to docs landing
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs: add self-improvement tools, SkillExporter, and PersonalityMutationStore to emergent guide
  docs/features/emergent-capabilities.md
Due: prettier --write, secretlint --maskSecrets

docs: add TurnPlanner guide covering execution policy, discovery integration, and fallback behavior
  docs/features/turn-planner.md
Due: prettier --write, secretlint --maskSecrets

docs: add SkillRegistry API, SkillsConfig, and auto-update mechanism to skills overview
  docs/skills/overview.md
Due: prettier --write, secretlint --maskSecrets

docs: add Neo4jCapabilityGraph and load_capability_extension to discovery guide
  docs/features/capability-discovery.md
Due: prettier --write, secretlint --maskSecrets

docs: add HEXACO personality guide with traits, mutation, overlays, and built-in personas
  docs/features/hexaco-personality.md
Due: prettier --write, secretlint --maskSecrets

docs: add TurnPlanner and HEXACO Personality to navigation index
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

docs: add Paracosm section with links to API, demo, GitHub, npm in navigation index
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix(docs): force ColorModeToggle visibility in hamburger drawer and top bar on mobile
  src/css/custom.css
  src/theme/Navbar/MobileSidebar/index.tsx
  src/theme/Navbar/MobileSidebar/styles.module.css
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update Discord invite to permanent link
  blog/2026-02-20-agentos-vs-langgraph-vs-crewai.md
  docs/getting-started/ecosystem.md
  docusaurus.config.ts
  static/llms.txt
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: refresh platform knowledge, extension, and skill counts
  static-docs/features/query-routing.md
  static-docs/skills/agentos-skills.md
  static-docs/skills/overview.md
  vendored-docs/packages/agentos-ext-skills/README.md
  vendored-docs/packages/agentos-skills-registry/README.md
Due: prettier --write, secretlint --maskSecrets

blog: why memory-library benchmarks don't mean what you think
  blog/2026-04-24-memory-benchmark-transparency-audit.md
Due: prettier --write, secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
