Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

docs: add markdown-to-HTML conversion for AgentOS live docs
  apps/agentos-live-docs/.github/workflows/build-docs.yml
  apps/agentos-live-docs/docs/AGENT_COMMUNICATION.html
  apps/agentos-live-docs/docs/ARCHITECTURE.html
  apps/agentos-live-docs/docs/CLIENT_SIDE_STORAGE.html
  apps/agentos-live-docs/docs/COST_OPTIMIZATION.html
  apps/agentos-live-docs/docs/ECOSYSTEM.html
  apps/agentos-live-docs/docs/EVALUATION_FRAMEWORK.html
  apps/agentos-live-docs/docs/GUARDRAILS_USAGE.html
  apps/agentos-live-docs/docs/HUMAN_IN_THE_LOOP.html
  apps/agentos-live-docs/docs/PLANNING_ENGINE.html
  apps/agentos-live-docs/docs/PLATFORM_SUPPORT.html
  apps/agentos-live-docs/docs/RAG_MEMORY_CONFIGURATION.html
  apps/agentos-live-docs/docs/RECURSIVE_SELF_BUILDING_AGENTS.html
  apps/agentos-live-docs/docs/RELEASING.html
  apps/agentos-live-docs/docs/RFC_EXTENSION_STANDARDS.html
  apps/agentos-live-docs/docs/SQL_STORAGE_QUICKSTART.html
  apps/agentos-live-docs/docs/STRUCTURED_OUTPUT.html
  apps/agentos-live-docs/package.json
  apps/agentos-live-docs/scripts/convert-markdown.mjs
Due: prettier --write, secretlint --maskSecrets

docs: add markdown-to-HTML conversion for AgentOS live docs
  .github/workflows/build-docs.yml
  docs/AGENT_COMMUNICATION.html
  docs/ARCHITECTURE.html
  docs/CLIENT_SIDE_STORAGE.html
  docs/COST_OPTIMIZATION.html
  docs/ECOSYSTEM.html
  docs/EVALUATION_FRAMEWORK.html
  docs/GUARDRAILS_USAGE.html
  docs/HUMAN_IN_THE_LOOP.html
  docs/PLANNING_ENGINE.html
  docs/PLATFORM_SUPPORT.html
  docs/RAG_MEMORY_CONFIGURATION.html
  docs/RECURSIVE_SELF_BUILDING_AGENTS.html
  docs/RELEASING.html
  docs/RFC_EXTENSION_STANDARDS.html
  docs/SQL_STORAGE_QUICKSTART.html
  docs/STRUCTURED_OUTPUT.html
  package.json
  scripts/convert-markdown.mjs
Due: prettier --write, secretlint --maskSecrets

feat(rabbithole): add OAuth, Gateway WebSocket, TTS, and Channel Adapter modules
  packages/rabbithole/package.json
  packages/rabbithole/src/__tests__/ChannelAdapter.test.ts
  packages/rabbithole/src/__tests__/GatewayWebSocket.test.ts
  packages/rabbithole/src/__tests__/OAuthClient.test.ts
  packages/rabbithole/src/__tests__/TTSService.test.ts
  packages/rabbithole/src/auth/OAuthClient.ts
  packages/rabbithole/src/auth/SessionManager.ts
  packages/rabbithole/src/auth/index.ts
  packages/rabbithole/src/auth/providers/GitHubProvider.ts
  packages/rabbithole/src/auth/providers/GoogleProvider.ts
  packages/rabbithole/src/auth/providers/index.ts
  packages/rabbithole/src/auth/types.ts
  packages/rabbithole/src/channels/BaseChannelAdapter.ts
  packages/rabbithole/src/channels/IChannelAdapter.ts
  packages/rabbithole/src/channels/adapters/DiscordAdapter.ts
  packages/rabbithole/src/channels/adapters/SlackAdapter.ts
  packages/rabbithole/src/channels/adapters/TelegramAdapter.ts
  packages/rabbithole/src/channels/adapters/WhatsAppAdapter.ts
  packages/rabbithole/src/channels/adapters/index.ts
  packages/rabbithole/src/channels/index.ts
  packages/rabbithole/src/gateway/ChannelGateway.ts
  packages/rabbithole/src/gateway/GatewayClient.ts
  packages/rabbithole/src/gateway/WebSocketServer.ts
  packages/rabbithole/src/gateway/index.ts
  packages/rabbithole/src/gateway/types.ts
  packages/rabbithole/src/index.ts
  packages/rabbithole/src/pii/IPIIRedactor.ts
  packages/rabbithole/src/pii/PIIRedactionMiddleware.ts
  packages/rabbithole/src/pii/index.ts
  packages/rabbithole/src/pii/vault/BreakGlassAccess.ts
  packages/rabbithole/src/pii/vault/PIIVault.ts
  packages/rabbithole/src/pii/vault/index.ts
  packages/rabbithole/src/tts/TTSService.ts
  packages/rabbithole/src/tts/index.ts
  packages/rabbithole/src/tts/types.ts
  packages/rabbithole/tsconfig.build.json
  packages/rabbithole/tsconfig.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(db): fix better-sqlite3 import for cjs/esm interop
  packages/fullstack-evals-harness-example/backend/src/database/db.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: ports and cors, improve UI styling
  packages/fullstack-evals-harness-example/backend/.env.example
  packages/fullstack-evals-harness-example/backend/package-lock.json
  packages/fullstack-evals-harness-example/backend/package.json
  packages/fullstack-evals-harness-example/backend/src/main.ts
  packages/fullstack-evals-harness-example/frontend/next-env.d.ts
  packages/fullstack-evals-harness-example/frontend/package-lock.json
  packages/fullstack-evals-harness-example/frontend/package.json
  packages/fullstack-evals-harness-example/frontend/src/app/globals.css
  packages/fullstack-evals-harness-example/frontend/src/lib/api.ts
  packages/fullstack-evals-harness-example/frontend/tsconfig.json
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(evals): add grader and dataset presets
  packages/fullstack-evals-harness-example/backend/src/presets/presets.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: rename wunderland-sol to wunderland-sh + update agentos
  .gitmodules
Due: secretlint --maskSecrets

feat(wunderland): rename subreddits to enclaves
  packages/wunderland/src/social/BrowsingEngine.ts
  packages/wunderland/src/social/EnclaveRegistry.ts
  packages/wunderland/src/social/NewsFeedIngester.ts
  packages/wunderland/src/social/WonderlandNetwork.ts
  packages/wunderland/src/social/__tests__/BrowsingEngine.test.ts
  packages/wunderland/src/social/__tests__/EnclaveRegistry.test.ts
  packages/wunderland/src/social/index.ts
  packages/wunderland/src/social/types.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(wunderland): add ContentSanitizer for SSRF-safe URL fetching
  packages/wunderland/src/social/ContentSanitizer.ts
  packages/wunderland/src/social/__tests__/ContentSanitizer.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(wunderland): add IpfsPinner for raw block pinning
  packages/wunderland/src/social/IpfsPinner.ts
  packages/wunderland/src/social/__tests__/IpfsPinner.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(wunderland): add TipIngester for SOL-tipped content processing
  packages/wunderland/src/social/TipIngester.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(wunderland): add mood, decision, and sentiment engines
  packages/wunderland/src/social/ContentSentimentAnalyzer.ts
  packages/wunderland/src/social/MoodEngine.ts
  packages/wunderland/src/social/PostDecisionEngine.ts
  packages/wunderland/src/social/__tests__/ContentSentimentAnalyzer.test.ts
  packages/wunderland/src/social/__tests__/MoodEngine.test.ts
  packages/wunderland/src/social/__tests__/PostDecisionEngine.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

docs: add brand guides and logo export system
  docs/RABBITHOLE_BRAND_GUIDE.md
  packages/wunderland/brand.html
Due: prettier --write, secretlint --maskSecrets
