Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(rabbithole): cookie consent, legal pages, landing polish + fix wunderland deploy
  apps/rabbithole/.env.example
  apps/rabbithole/src/app/cookies/page.tsx
  apps/rabbithole/src/app/layout.tsx
  apps/rabbithole/src/app/privacy/page.tsx
  apps/rabbithole/src/app/security/page.tsx
  apps/rabbithole/src/app/terms/page.tsx
  apps/rabbithole/src/components/CookieConsent.tsx
  apps/rabbithole/src/components/RabbitVortex.tsx
  apps/rabbithole/src/components/brand/Footer.tsx
  apps/rabbithole/src/lib/analytics.ts
  apps/rabbithole/src/lib/consent.ts
  apps/rabbithole/src/styles/landing.scss
  apps/rabbithole/src/styles/main.scss
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: switch wunderland-sh submodule to master branch
  .gitmodules
Due: secretlint --maskSecrets

refactor: rename @framers/wunderland to unscoped wunderland, use registry
  WUNDERLAND_RABBITHOLE_SUMMARY.md
  backend/package.json
  backend/src/modules/wunderland/wunderland.types.ts
  docs/NESTJS_ARCHITECTURE.md
  packages/rabbithole/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add package-lock.json and fix CI directory layout
  .github/workflows/deploy.yml
Due: secretlint --maskSecrets

fix: add package-lock.json and fix CI directory layout
  apps/agentos-live-docs/.github/workflows/deploy.yml
Due: secretlint --maskSecrets

feat: rabbithole auth/UI overhaul, agentos extension compat, backend updates
  docusaurus.config.ts
  src/pages/index.tsx
  static/img/favicon.svg
  static/img/logo.svg
  static/img/og-image.png
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: expand docs index with all feature and extension links
  apps/agentos-live-docs/docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix: expand docs index with all feature and extension links
  docs/index.md
Due: prettier --write, secretlint --maskSecrets

fix: expand all sidebar categories by default
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: expand all sidebar categories by default
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: use explicit pnpm filter in Dockerfiles instead of transitive ...
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: rename Built-in Extensions to Official Extensions
  docs/index.md
  sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: rename Built-in Extensions to Official Extensions
  apps/agentos-live-docs/docs/index.md
  apps/agentos-live-docs/sidebars.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add wunderland + @wunderland-sol/sdk to Dockerfile build chain
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: logo links to docs homepage instead of opening agentos.sh in new tab
  docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: logo links to docs homepage instead of opening agentos.sh in new tab
  apps/agentos-live-docs/docusaurus.config.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: complete Dockerfile build chain with all workspace deps
  deployment/rabbithole/Dockerfile.backend
  deployment/wunderland-sol/Dockerfile.backend
Due: secretlint --maskSecrets

fix: add python/make/g++ to wunderland frontend Dockerfile
  deployment/wunderland-sol/Dockerfile.frontend
Due: secretlint --maskSecrets

fix: add docker compose down before up to free bound ports
  .github/workflows/deploy-rabbithole.yml
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

fix: stop host-level nginx before Docker stack to free port 80
  .github/workflows/deploy-wunderland-node.yml
Due: secretlint --maskSecrets

fix: use AgentOS logo as docs favicon, remove marketing copy from architecture docs
  static/img/favicon.svg
Due: secretlint --maskSecrets

fix: use AgentOS logo as docs favicon, remove marketing copy from architecture docs
  apps/agentos-live-docs/static/img/favicon.svg
Due: secretlint --maskSecrets

feat: soft paywall, agent immutability, backend hardening
  CONFIGURATION.md
  backend/src/__tests__/agent-immutability.test.ts
  backend/src/__tests__/extensions.service.test.ts
  backend/src/core/database/appDatabase.ts
  backend/src/integrations/agentos/agentos.integration.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.controller.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/calendar/calendar.service.ts
  backend/src/modules/wunderland/channels/channels.service.ts
  backend/src/modules/wunderland/credentials/credentials.controller.ts
  backend/src/modules/wunderland/credentials/credentials.service.ts
  backend/src/modules/wunderland/cron/cron.service.ts
  backend/src/modules/wunderland/dto/credentials.dto.ts
  backend/src/modules/wunderland/immutability/agentSealing.ts
  backend/src/modules/wunderland/runtime/runtime.service.ts
  backend/src/modules/wunderland/wunderland.exceptions.ts
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
  packages/agentos-extensions-registry/package.json
  packages/agentos-extensions-registry/src/manifest-builder.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: update agentos submodule (appendOnlyPersistence), fix deploy paths
  scripts/deploy-env.sh
Due: secretlint --maskSecrets

fix: inline NEXT_PUBLIC_* OAuth flags at build time in Dockerfile
  deployment/rabbithole/Dockerfile.frontend
Due: secretlint --maskSecrets

feat: immutability, channel registry, memory redactions
  backend/package.json
  backend/src/core/database/appDatabase.ts
  backend/src/integrations/agentos/agentos.long-term-memory-retriever.ts
  backend/src/modules/wunderland/agent-registry/agent-registry.service.ts
  backend/src/modules/wunderland/wunderland.exceptions.ts
  docs/WUNDERLAND_INTEGRATION_AUDIT.md
  packages/agentos-extensions-registry/src/channel-registry.ts
  packages/agentos-extensions-registry/src/index.ts
  packages/agentos-extensions-registry/src/manifest-builder.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add missing provider-registry.ts to extensions-registry
  packages/agentos-extensions-registry/src/provider-registry.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix: add missing source files required by backend build
  backend/src/__tests__/agent-toolset-manifest.test.ts
  backend/src/__tests__/agentos.memory-redactions.test.ts
  backend/src/__tests__/wunderland.immutability.integration.test.ts
  backend/src/integrations/agentos/agentos.memory-redactions.service.ts
  backend/src/modules/wunderland/immutability/toolset-manifest.ts
  packages/agentos-extensions-registry/test/channel-registry.test.ts
  packages/agentos-extensions-registry/test/manifest-builder.test.ts
  packages/agentos-extensions-registry/test/provider-registry.test.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets
