Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue,json,md}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "*": "secretlint --maskSecrets"
}

feat(codex): add Zettelkasten workflow types and docs for feature parity
  .super-cloud/agency.db
  packages/codex-extensions/src/types/index.ts
  wiki/codex/README.md
  wiki/codex/api.md
  wiki/codex/schema.md
  wiki/openstrand/api.md
  wiki/openstrand/features.md
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: rebrand Frame Codex to Quarry in wiki docs
  wiki/codex/README.md
  wiki/codex/api.md
  wiki/codex/schema.md
  wiki/frame/roadmap.md
  wiki/openstrand/README.md
Due: prettier --write, secretlint --maskSecrets

docs: rename wiki/frame to wiki/quarry + add local-first sync architecture
  wiki/README.md
  wiki/frame/README.md
  wiki/quarry/README.md
  wiki/quarry/architecture.md
  wiki/quarry/codex-faq.md
  wiki/quarry/local-first-sync-architecture.md
  wiki/quarry/roadmap.md
Due: prettier --write, secretlint --maskSecrets

feat(types): add vocabulary classification fields to StrandMetadata
  packages/codex-extensions/src/types/index.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update pnpm-lock.yaml for CI
  pnpm-lock.yaml
Due: secretlint --maskSecrets
