Repository framersai/agentos-live-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, secretlint --maskSecrets

fix: exempt localhost from rate limiter for internal job scanner
  backend/middleware/ratelimiter.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: RAG audit trail HTTP API routes and integration tests
  packages/agentos-ext-http-api/src/rag/rag.routes.test.ts
  packages/agentos-ext-http-api/src/rag/rag.routes.ts
  packages/agentos-ext-http-api/src/rag/rag.types.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: backend RAG audit service instrumentation and e2e tests
  backend/src/__tests__/agentos.rag.audit.e2e.test.ts
  backend/src/integrations/agentos/agentos.rag.service.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(codex): backend integrations, database schema, LLM factory updates
  backend/package.json
  backend/src/app.module.ts
  backend/src/core/database/appDatabase.ts
  backend/src/core/llm/llm.factory.ts
  backend/src/integrations/rag/rag.service.ts
  eslint.config.mjs
  scripts/upgrade-agent-prompts.js
Due: prettier --write, eslint --fix, secretlint --maskSecrets

chore: update config, deployment, and lockfile
  .env.example
  CONFIGURATION.md
  deployment/rabbithole/.env.example
  deployment/rabbithole/docker-compose.yml
  pnpm-lock.yaml
Due: prettier --write, secretlint --maskSecrets

feat: API Key Vault — backend service, DB schema, credential resolver + rabbithole submodule
  backend/src/core/database/appDatabase.ts
  backend/src/modules/wunderland/credentials/credential-resolver.service.ts
  backend/src/modules/wunderland/credentials/credentials.module.ts
  backend/src/modules/wunderland/dto/vault.dto.ts
  backend/src/modules/wunderland/vault/vault.controller.ts
  backend/src/modules/wunderland/vault/vault.module.ts
  backend/src/modules/wunderland/vault/vault.service.ts
  backend/src/modules/wunderland/wunderland.module.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat(auth): add trial support — planId, trialEndsAt in session payload + resetUserTrial helper
  backend/src/features/auth/auth.service.ts
  backend/src/features/auth/user.repository.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

feat: add PATCH /billing/trial-reset internal endpoint for manual trial grants
  backend/src/modules/billing/billing.controller.ts
Due: prettier --write, eslint --fix, secretlint --maskSecrets

fix(ci): redirect app.rabbithole.inc → rabbithole.inc/app with deep link preservation
  deployment/rabbithole/nginx.conf
Due: secretlint --maskSecrets

chore(deps): update pnpm-lock.yaml + rabbithole submodule (UI polish, tests, new components)
  pnpm-lock.yaml
Due: secretlint --maskSecrets

fix(deploy): skip lifecycle scripts during pnpm install + use correct nginx.conf
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix(ci): revert nginx.conf switch — docker config incompatible with bare-metal
  .github/workflows/deploy-rabbithole.yml
Due: secretlint --maskSecrets

fix: sidebar logo link, app subdomain proxy, trial-ended demo data
  deployment/rabbithole/nginx.conf
Due: secretlint --maskSecrets

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json,md}
  eslint --fix: any of: *.{js,ts,tsx}
  secretlint --maskSecrets: any of: *
